<div class="ui sixteen column grid">
    <div class="left aligned twelve wide column">
        <div class="content" style="font-size: 24px">Service Load Balancers</div>
    </div>

    <div class="left aligned four wide column">
        <button class="ui blue button" (click)="create()">
            <i class="add icon"></i>
            Create Service Load Balancer
        </button>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui active inverted dimmer" *ngIf="servicelbListCtrl.showLoader">
        <div class="ui loader"></div>
    </div>
    <ctv-table #tableRef [defaultSortColumn]="'serviceName'"
               [items]="servicelbListCtrl.servicelbs"
               (filtereditems)="servicelbListCtrl.filteredservicelbs=$event"
               [size]="12">
        <thead>
            <tr>
                <th><ctv-th [sortfield]="'serviceName'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj">Name</ctv-th></th>
                <th><ctv-th [sortfield]="'networkName'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj">Network</ctv-th></th>
                <th><ctv-th [sortfield]="'ipAddress'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj">IP Address</ctv-th></th>
                <th><ctv-th [sortfield]="'selectors'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj">Label Selectors</ctv-th></th>
                <th class="right floated three wide column">
                    <ctv-search (searchTextChange)="tableRef.showChunk(tableRef.table.pageNo,$event);" [placeholder]="'Search services...'"></ctv-search>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let servicelb of servicelbListCtrl.filteredservicelbs">
                <td><a href="/#/m/servicelbs/details/{{servicelb.key}}/info">{{servicelb.serviceName}}</a></td>
                <td>{{servicelb.networkName}}</td>
                <td>{{servicelb.ipAddress}}</td>
                <td>
                    <div class="ui label tiny" *ngFor="let selector of servicelb.selectors">{{selector}}</div>
                </td>
                <td></td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="5">
                    <ctv-tpagination  [chunks]="tableRef.pageChunks"
                                      (showPage)="tableRef.showChunk($event, tableRef.table.searchText)"
                                      (prevChunk)="tableRef.showPrevChunk()"
                                      (nextChunk)="tableRef.showNextChunk()">
                    </ctv-tpagination>
                </td>
            </tr>
        </tfoot>
    </ctv-table>
</div>