<div class="ui sixteen column grid">
    <div class="left aligned eight wide column">
        <div class="content pageTitle">Service Load Balancers</div>
    </div>

    <div class="right aligned eight wide column" *auth="'admin'">
        <button class="ui blue large button primaryBtn" (click)="create()">
            <i class="add icon"></i>
            Create Service Load Balancer
        </button>
    </div>
</div>

<ctv-search *ngIf="servicelbListCtrl.servicelbs" (searchTextChange)="tableRef.showChunk(tableRef.table.pageNo,$event);" [count]="tableRef.count"></ctv-search>

<div class="ui basic segment ctvTable">
    <div class="ui active inverted dimmer" *ngIf="servicelbListCtrl.showLoader">
        <div class="ui loader"></div>
    </div>
    <ctv-table #tableRef [defaultSortColumn]="'serviceName'"
               [items]="servicelbListCtrl.servicelbs"
               (filtereditems)="servicelbListCtrl.filteredservicelbs=$event"
               [size]="12">
        <thead>
            <tr>
                <th><ctv-th [sortfield]="'serviceName'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj">Name</ctv-th></th>
                <th><ctv-th [sortfield]="'tenantName'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj">Tenant</ctv-th></th>
                <th><ctv-th [sortfield]="'networkName'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj">Network</ctv-th></th>
                <th><ctv-th [sortfield]="'ipAddress'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj">IP Address</ctv-th></th>
                <th><ctv-th [sortfield]="'selectors'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj">Label Selectors</ctv-th></th>
            </tr>
        </thead>

        <tbody *ngIf="servicelbListCtrl.servicelbs">
            <tr *ngFor="let servicelb of servicelbListCtrl.filteredservicelbs">
                <td><a [routerLink]="['../details', servicelb.key]">{{servicelb.serviceName}}</a></td>
                <td>{{servicelb.tenantName}}</td>
                <td>{{servicelb.networkName}}</td>
                <td>{{servicelb.ipAddress}}</td>
                <td>
                    <div class="ui label tiny" *ngFor="let selector of servicelb.selectors">{{selector}}</div>
                </td>
            </tr>
        </tbody>

        <tbody *ngIf="!servicelbListCtrl.servicelbs">
            <tr>
                <td colspan="2">No service load balancers found. Would you like to <a href="javascript: void(0);" (click)="create()">create one?</a></td>
            </tr>
        </tbody>

        <tbody *ngIf="servicelbListCtrl.servicelbs && !tableRef.count">
            <tr>
                <td colspan="2">No records matched your filter criteria.</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="5">
                    <ctv-tpagination  [chunks]="tableRef.pageChunks"
                                      (showPage)="tableRef.showChunk($event, tableRef.table.searchText)"
                                      (prevChunk)="tableRef.showPrevChunk()"
                                      (nextChunk)="tableRef.showNextChunk()">
                    </ctv-tpagination>
                </td>
            </tr>
        </tfoot>
    </ctv-table>
</div>