<div class="ui sixteen column grid">
    <div class="one wide column">
        <a href="/#/m/servicelbs/list">
            <i class="large arrow left icon"></i>
        </a>
    </div>
    <div class="left floated ten wide column">
        <div [ngSwitch]="servicelbDetailsCtrl.mode" class="content" style="font-size: 24px">
            <span>Service Load Balancers</span>
            <span *ngSwitchCase="'details'" class="headingfontcolor"> (Details)</span>
            <span *ngSwitchCase="'edit'" class="headingfontcolor"> (Edit)</span>
        </div>
    </div>
    <div [ngSwitch]="servicelbDetailsCtrl.mode" class="right aligned five wide column">
        <div id="delete-service-modal" class="ui small modal">
            <div class="header">Remove Service: {{servicelbDetailsCtrl.serviceName}}</div>
            <div class="content">
                <p>Are you sure you want to remove this service?</p>
            </div>
            <div class="actions">
                <div class="ui negative button">No</div>
                <div class="ui positive button" (click)="deleteServicelb()">
                    Yes
                </div>
            </div>
        </div>
        <button *ngSwitchCase="'edit'" class="ui disabled button">
            <i class="edit icon"></i>
            Edit
        </button>
        <button *ngSwitchCase="'details'" class="ui basic button"
                (click)="loadEdit()">
            <i class="edit icon"></i>
            Edit
        </button>
        <button class="ui basic button" onclick="$('#delete-service-modal').modal('show')">
            <i class="trash icon"></i>
            Remove
        </button>
    </div>
</div>
<div class="ui secondary pointing menu" *ngIf="servicelbDetailsCtrl.mode=='details'">
    <div class="ui container">
        <a class="blue item" [ngClass]="{active: infoselected}" (click)="infoselected=true">
            <i class="details icon"></i>
            DETAILS
        </a>
        <a class="blue item" [ngClass]="{active: !infoselected}" (click)="infoselected=false">
            <i class="area chart icon"></i>
            STATS
        </a>
    </div>
</div>

<servicelb-info [(mode)]="mode" *ngIf="infoselected || servicelbDetailsCtrl.mode == 'edit'" (serviceName)="serviceName=$event"></servicelb-info>
<servicelb-stat [statkey]="servicelbDetailsCtrl.statskey" *ngIf="!infoselected && servicelbDetailsCtrl.mode != 'edit'"></servicelb-stat>

