<form class="ui form" name="servicelbCreateForm" role="form" #servicelbCreateForm="ngForm"
      (submit)="createServicelb(servicelbCreateForm.valid)"
      novalidate>
    <div class="ui sixteen column grid">
        <div class="one wide column">
            <a [routerLink]="['../list']">
                <i class="large arrow left icon"></i>
            </a>
        </div>
        <div class="left floated fifteen wide column">
            <div class="content" style="font-size: 24px">
                <span>Service Load Balancers</span>
                <span class="headingfontcolor"> (Create Service Load Balancer)</span>
            </div>
        </div>
    </div>
    <div class="ui basic segment">
        <div class="ui active inverted dimmer" *ngIf="servicelbCreateCtrl.showLoader">
            <div class="ui loader"></div>
        </div>
        <div class="field">
            <div *ngIf="servicelbCreateForm.submitted">
                <div [hidden]="servicelbCreateForm.valid" class="ui negative message">
                    <ul class="list">
                        <li *ngIf="servicelbName.errors?.required">Please enter service load
                            balancer name
                        </li>
                        <li *ngIf="servicelbNetwork.errors?.required">Please select network
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="field">
            <label for="servicelbName">Service load balancer name</label>
            <input type="text" id="servicelbName" name="servicelbName"
                   [(ngModel)]="servicelbCreateCtrl.servicelb.serviceName" placeholder="Enter name" required #servicelbName="ngModel">
        </div>
        <div class="field">
            <label for="servicelbNetwork">Network</label>
            <select id="servicelbNetwork" class="ui dropdown"
                    name="servicelbNetwork"
                    [(ngModel)]="servicelbCreateCtrl.servicelb.networkName"
                    required #servicelbNetwork="ngModel">
                <option value="">-- Please select network --</option>
                <option *ngFor="let network of servicelbCreateCtrl.networks" [ngValue]="network.networkName">{{network.networkName}}</option>
            </select>
        </div>
        <div class="field">
            <label for="servicelbIP">Service IP address</label>
            <input type="text" id="servicelbIP" name="servicelbIP"
                   [(ngModel)]="servicelbCreateCtrl.servicelb.ipAddress" placeholder="Enter IP address" #servicelbIP="ngModel">
        </div>
        <div class="ui section divider" style="margin-top: 30px"></div>

        <ctv-collapsible [title]="'Label Selectors'">
            <div class="field">
                <ctv-namevalue [items]="servicelbCreateCtrl.labelSelectors" (itemsChange)="servicelbCreateCtrl.labelSelectors=$event"></ctv-namevalue>
            </div>
        </ctv-collapsible>

        <div class="ui section divider"></div>

        <ctv-collapsible [title]="'Ports'">
            <div class="field">
                <ctv-servicelbports [items]="servicelbCreateCtrl.servicelb.ports" (itemsChange)="servicelbCreateCtrl.servicelb.ports=$event"></ctv-servicelbports>
            </div>
        </ctv-collapsible>

        <div class="ui grid" style="margin-top: 40px">
            <div class="right aligned sixteen wide column">
                <button type="button" class="ui basic button" (click)="servicelbCreateCtrl.cancelCreating()">Cancel
                </button>
                <button type="submit" class="ui blue button">
                    Create
                </button>
            </div>
        </div>
    </div>
</form>