<div class="ui sixteen column grid pageHeader">
    <div [ngSwitch]="servicelbDetailsCtrl.mode" class="ui row">
        <div class="left aligned eight wide column">
            <div *ngSwitchCase="'details'" class="content pageTitle">{{servicelbDetailsCtrl.serviceName}}</div>
            <div *ngSwitchCase="'edit'" class="content pageTitle">{{servicelbDetailsCtrl.serviceName}}</div>
        </div>
        <div class="right aligned eight wide column">

            <div id="delete-service-modal" class="ui small modal">
                <div class="header">Remove Service: {{servicelbDetailsCtrl.serviceName}}</div>
                <div class="content">
                    <p>Are you sure you want to remove this service?</p>
                </div>
                <div class="actions">
                    <div class="ui negative button">No</div>
                    <div class="ui positive button" (click)="deleteServicelb()">
                        Yes
                    </div>
                </div>
            </div>

            <button *ngSwitchCase="'edit'" type="button" class="ui basic button"
                    (click)="cancelEditing()">
                Cancel
            </button>
            <button *ngSwitchCase="'details'" type="button" class="ui basic button"
                    (click)="cancelDetails()">
                Close
            </button>
            <button *ngSwitchCase="'details'" class="ui secondary button"
                    (click)="loadEdit()">
                Edit
            </button>
            <button class="ui secondary button" onclick="$('#delete-service-modal').modal('show')">
                <i class="trash icon"></i>
                Remove
            </button>

        </div>
    </div>

    <div class="ui row breadcrumbRow">
        <div class="ui sixteen wide column">
            <div class="breadcrumbs">
                <span class="crumb">
                    <a href="/#/m/servicelbs/list">
                        Service Load Balancers
                    </a>
                </span>
                <span class="crumb">
                    {{servicelbDetailsCtrl.serviceName}}
                </span>
            </div>
        </div>
    </div>

    <div class="ui row">
        <div class="ui sixteen wide column">

            <div class="ui tabular menu" *ngIf="servicelbDetailsCtrl.mode=='details'">
                <a class="item" [ngClass]="{active: infoselected}" (click)="infoselected=true">
                    Details
                </a>
                <a class="item" [ngClass]="{active: !infoselected}" (click)="infoselected=false">
                    Stats
                </a>
            </div>

            <servicelb-info [(mode)]="mode" *ngIf="infoselected || servicelbDetailsCtrl.mode == 'edit'"
                (serviceName)="serviceName=$event"></servicelb-info>

            <servicelb-stat [statkey]="servicelbDetailsCtrl.statskey"
                            *ngIf="!infoselected && servicelbDetailsCtrl.mode != 'edit'"></servicelb-stat>

        </div>
    </div>
</div>
