<div class="ui container" *ngIf="welcomeActive">
    <div class="ui grid">
        <div class="ui sixteen wide column">
            <h2>Welcome to Cisco Container Networking</h2>
        </div>
        <div class="ui sixteen wide column">
            <p>The Cisco Container Networking offers the quickest, easiest way to manage and scale your container infrastructure. A ready-to-go platform designed to be centrally managed by enterprise IT, with developer self-service, CCN provides a higher level of networking abstraction for microservices. CCN secures your application using a rich policy framework. It provides built-in service discovery and service routing for scale out services. </p>
        </div>
        <div class="ui sixteen wide column">
            <h4>Click below to step through the CCN global configuration. Doing so is optional and you can edit the same settings later via the <em>Global Settings</em> screen.</h4>
        </div>
        <div class="ui sixteen wide column">

            <button class="ui large blue button cancelBtn" (click)="logout()">Logout</button>

            <button class="ui large blue button secondaryBtn" (click)="skip()">Skip Wizard</button>

            <button class="ui large blue button primaryBtn" (click)="runwizard()">Run Wizard</button>

        </div>
    </div>
</div>


<div class="ui basic segment" *ngIf="!welcomeActive">
    <div class="ui grid">
        <div class="ui sixteen wide column">
            <div class="steps-container">
                <ul class="progressbar">
                    <li class="active" [ngClass]="{active: pageNo==1, completed: pageNo > 1}"><span>Configure Network</span></li>
                    <li [ngClass]="{active: pageNo==2, completed: pageNo > 2}"><span>ACI Settings</span></li>
                    <li [ngClass]="{active: pageNo==3, completed: pageNo > 3}"><span>Confirm Details</span></li>
                </ul>
            </div>
        </div>
    </div>
    <firstrunnetworkdefault *ngIf="pageNo==1" (updatePage)="updatePage($event);" (cancelPage)="welcomeActive=true"></firstrunnetworkdefault>
    <firstrunacisettings *ngIf="pageNo==2" (updatePage)="updatePage($event); " (cancelPage)="welcomeActive=true"></firstrunacisettings>
    <firstrunwizardconfirmpage *ngIf="pageNo==3" (updatePage)="updatePage($event);" (cancelPage)="welcomeActive=true"></firstrunwizardconfirmpage>
</div>

