<div class="ui container">
    <div class="ui grid">
        <div class="ui sixteen wide column">
            <h2>Welcome to Cisco Container Networking</h2>
        </div>
        <div class="ui sixteen wide column">
            <p>The Cisco Container Networking offers the quickest, easiest way to manage and scale your container infrastructure. A ready-to-go platform designed to be centrally managed by enterprise IT, with developer self-service, CCN provides a higher level of networking abstraction for microservices. CCN secures your application using a rich policy framework. It provides built-in service discovery and service routing for scale out services. </p>
        </div>
        <div class="ui sixteen wide column">
            <h4>Click below to step through the CCN global configuration. Doing so is optional and you can edit the same settings later via the <em>Global Settings</em> screen.</h4>
        </div>
        <div class="ui sixteen wide column">

            <button class="ui large blue button cancelBtn" (click)="logout()">Logout</button>

            <button class="ui large blue button secondaryBtn" (click)="skip()">Skip Wizard</button>

            <button class="ui large blue button primaryBtn" (click)="runwizard()">Run Wizard</button>

            <!-- <button class="ui large blue button primaryBtn" onclick="$('.ui.fullscreen.modal').modal('setting', 'closable', false).modal('show'); $('body').addClass('scrolling'); $('.ui.fullscreen.modal').addClass('scrolling');">Run Wizard</button> -->
        </div>
    </div>
</div>

<div class="ui fullscreen modal scrolling">
    <div class="content">
        <div class="ui container" style="width: 90%">
            <div class="ui segment">
                <div class="ui ordered four top attached steps" style="margin-bottom: 60px;">
                    <!-- <div class="step" [ngClass]="{active: pageNo==1, completed: pageNo > 1}">
                        <div class="content">
                            <div class="title">Setup Wizard</div>
                            <div class="description"></div>
                        </div>
                    </div> -->
                    <div class="step" [ngClass]="{active: pageNo==1, completed: pageNo > 1}">
                        <div class="content">
                            <div class="title">Network Settings</div>
                        </div>
                    </div>
                    <div class="step" [ngClass]="{active: pageNo==2, completed: pageNo > 2}">
                        <div class="content">
                            <div class="title">ACI Settings</div>
                        </div>
                    </div>
                    <div class="step" [ngClass]="{active: pageNo==3, completed: pageNo > 3}">
                        <div class="content">
                            <div class="title">Confirmation</div>
                        </div>
                    </div>
                </div>
                <!-- <firstrunwizardpage1 *ngIf="pageNo==1" (updatePage)="updatePage($event);"></firstrunwizardpage1> -->
                <firstrunnetworkdefault *ngIf="pageNo==1" (updatePage)="updatePage($event);"></firstrunnetworkdefault>
                <firstrunacisettings *ngIf="pageNo==2" (updatePage)="updatePage($event);"></firstrunacisettings>
                <firstrunwizardconfirmpage *ngIf="pageNo==3" (updatePage)="updatePage($event);"></firstrunwizardconfirmpage>
            </div>
        </div>
    </div>
</div>
