<form id="organizationCreationForm" name="organizationCreateCtrl.form" class="ui form" role="form"
      (submit)="organizationCreateCtrl.createOrganization(organizationCreateFrom.valid)" novalidate #organizationCreateFrom="ngForm">
    <div class="ui sixteen column grid">
        <div class="one wide column">
            <a [routerLink]="['../list']">
                <i class="large arrow left icon"></i>
            </a>
        </div>
        <div class="left floated twelve wide column">
            <div class="content" style="font-size: 24px">
                <span>Organizations</span>
                <span class="headingfontcolor"> (Create Organization)</span>
            </div>
        </div>
    </div>

    <div class="ui active inverted dimmer" *ngIf="organizationCreateCtrl.showLoader">
        <div class="ui loader"></div>
    </div>
    <div class="ui basic segment">
        <div class="field">
            <div *ngIf="organizationCreateFrom.submitted">
                <div [hidden]="organizationCreateFrom.valid" class="ui negative message">
                    <ul class="list">
                        <li *ngIf="newOrganizationName.errors?.required">Please enter
                            organization name
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="newOrganizationName">Organization name</label>
            <input type="text" id="newOrganizationName" name="newOrganizationName"
                   [(ngModel)]="organizationCreateCtrl.newOrganization.tenantName"
                   placeholder="Enter name" required #newOrganizationName="ngModel">
        </div>

        <div class="ui grid">
            <div class="right aligned sixteen wide column">
                <div style="margin-top: 40px">
                    <button type="button" class="ui basic button" (click)="organizationCreateCtrl.cancelCreating()">
                        Cancel
                    </button>
                    <button type="submit" class="ui blue button">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>