<div class="ui sixteen column grid">
    <div class="one wide column">
        <a (click)="returnToPolicies()">
            <i class="large arrow left icon"></i>
        </a>
    </div>
    <div class="left floated ten wide column">
        <div [ngSwitch]="mode" class="content" style="font-size: 24px">
            <span>Bandwidth Policies</span>
            <span *ngSwitchCase="'details'" class="headingfontcolor"> (Details)</span>
            <span *ngSwitchCase="'edit'" class="headingfontcolor"> (Edit)</span>
        </div>
    </div>

    <div [ngSwitch]="mode" class="right aligned five wide column">
        <div id="delete-policy-modal" class="ui small modal">
            <div class="header">Remove Policy: {{policy.profileName}}</div>
            <div class="content">
                <p>Are you sure you want to remove this bandwidth policy?</p>
            </div>
            <div class="actions">
                <div class="ui negative button">No</div>
                <div class="ui positive blue button" (click)="deletePolicy()">
                    Yes
                </div>
            </div>
        </div>

        <button *ngSwitchCase="'edit'" class="ui disabled button"
                (click)="editPolicy()">
            <i class="edit icon"></i>
            Edit
        </button>

        <button *ngSwitchCase="'details'" class="ui basic button"
                (click)="editPolicy()">
            <i class="edit icon"></i>
            Edit
        </button>

        <button class="ui basic button" onclick="$('#delete-policy-modal').modal('show')">
            <i class="trash icon"></i>
            Remove
        </button>
    </div>
</div>

<div [ngSwitch]="mode" class="ui basic segment">
    <div class="ui active inverted dimmer" *ngIf="showLoader">
        <div class="ui loader"></div>
    </div>

    <div *ngSwitchCase="'details'">
        <h4 class="ui header">Basic Settings</h4>
        <table class="ui very basic selectable table">
            <tbody>
            <tr>
                <td class="ctv-header three wide column">Profile Name</td>
                <td>{{policy.profileName}}</td>
            </tr>
            <tr>
                <td class="ctv-header three wide column">Tenant</td>
                <td>{{policy.tenantName}}</td>
            </tr>
            <tr>
                <td class="ctv-header three wide column">Bandwidth</td>
                <td>{{policy.bandwidth}}</td>
            </tr>
            <tr>
                <td class="ctv-header three wide column">DSCP</td>
                <td>{{policy.DSCP}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngSwitchCase="'edit'">
        <form class="ui form" role="form" #formRef="ngForm"
              (ngSubmit)="savePolicy(formRef.valid)" novalidate>
            <div class="ui active inverted dimmer" *ngIf="showLoader">
                <div class="ui loader"></div>
            </div>
            <div class="field">
                <div *ngIf="formRef.submitted">
                    <div *ngIf="!formRef.valid" class="ui negative message">
                        <ul class="list">
                            <li *ngIf="bandwidthNumberRef.errors?.required">
                                Please enter bandwidth
                            </li>
                            <li *ngIf="bandwidthUnitRef.errors?.required">
                                Please select bandwidth Unit
                            </li>
                            <li *ngIf="DSCPRef.errors?.required">
                                Please enter DSCP
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h4 class="ui header">Basic Settings</h4>

            <table class="ui very basic selectable table">
                <tbody>
                <tr>
                    <td class="ctv-header three wide column">Profile Name</td>
                    <td>{{policy.profileName}}</td>
                </tr>
                <tr>
                    <td class="ctv-header three wide column">Tenant</td>
                    <td>{{policy.tenantName}}</td>
                </tr>
                </tbody>
            </table>

            <div style="margin-top: 20px" class="fields">
                <div class="thirteen wide field">
                    <label for="bandwidthNumber">Bandwidth </label>
                    <input #bandwidthNumberRef="ngModel" type="number" id="bandwidthNumber" name="bandwidthNumber"
                           [(ngModel)]="policy.bandwidthNumber" placeholder="Enter bandwidth" required>
                </div>
                <div class="three wide field">
                    <label for="bandwidthUnit">Unit</label>
                    <select #bandwidthUnitRef="ngModel" name="bandwidthUnit" id="bandwidthUnit" class="ui dropdown"
                            [(ngModel)]="policy.bandwidthUnit" required>
                        <option value="">-- Please select unit --</option>
                        <option value="kbps">kbps</option>
                        <option value="mbps">mbps</option>
                        <option value="gbps">gbps</option>
                    </select>
                </div>
            </div>

            <div class="field">
                <label for="DSCP">DSCP</label>
                <input #DSCPRef="ngModel" type="number" id="DSCP" name="DSCP"
                       [(ngModel)]="policy.DSCP" placeholder="Enter DSCP" required/>
            </div>

            <div class="ui grid" style="margin-top: 40px">
                <div class="right aligned sixteen wide column">
                    <button type="button" class="ui basic button"
                            (click)="cancelEditing()">Cancel
                    </button>

                    <button type="submit" class="ui blue button">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
