<div class="ui sixteen column grid">
    <div [ngSwitch]="mode" class="ui row pageHeader">
        <div class="left aligned eight wide column">
            <div *ngSwitchCase="'details'" class="content pageTitle">{{policy.profileName}}</div>
            <div *ngSwitchCase="'edit'" class="content pageTitle">{{policy.profileName}}</div>
        </div>
        <div class="right aligned eight wide column">

            <div class="right aligned five wide column">
                <div id="delete-policy-modal" class="ui small modal">
                    <div class="header">Remove Policy: {{policy.profileName}}</div>
                    <div class="content">
                        <p>Are you sure you want to remove this policy?</p>
                    </div>
                    <div class="actions">
                        <div class="ui negative button">No</div>
                        <div class="ui positive blue button" (click)="deletePolicy()">
                            Yes
                        </div>
                    </div>
                </div>
                <button *ngSwitchCase="'details'" type="button" class="ui basic button"
                        (click)="cancelDetails()">
                    Close
                </button>
                 <button *ngSwitchCase="'edit'" type="button" class="ui basic button"
                        (click)="cancelEditing()">
                    Cancel
                </button>
                <button *ngSwitchCase="'details'" class="ui secondary button"
                        (click)="editPolicy()">
                    Edit
                </button>
                <button class="ui secondary button" onclick="$('#delete-policy-modal').modal('show')">
                    <i class="trash icon"></i>
                    Remove
                </button>
            </div>

        </div>
    </div>
    <div class="ui row breadcrumbRow">
        <div class="ui sixteen wide column">
            <div class="breadcrumbs">
                <span class="crumb">
                    <a href="/#/m/networkpolicies/list">
                        Network Policies
                    </a>
                </span>
                <span class="crumb">
                    <a (click)="returnToPolicies()">
                        Bandwidth Policies
                    </a>
                </span>
                <span class="crumb">{{policy.profileName}}</span>
            </div>
        </div>
    </div>

    <div class="ui row">
        <div class="ui sixteen wide column">

            <div [ngSwitch]="mode" class="ui basic segment">
                <div class="ui active inverted dimmer" *ngIf="showLoader">
                    <div class="ui loader"></div>
                </div>

                <div *ngSwitchCase="'details'">

                    <table>
                        <tbody>
                        <tr>
                            <td class="ctv-header">Profile Name</td>
                            <td class="ctv-value">{{policy.profileName}}</td>
                        </tr>
                        <tr>
                            <td class="ctv-header">Tenant</td>
                            <td class="ctv-value">{{policy.tenantName}}</td>
                        </tr>
                        <tr>
                            <td class="ctv-header">Bandwidth</td>
                            <td class="ctv-value">{{policy.bandwidth}}</td>
                        </tr>
                        <tr>
                            <td class="ctv-header">DSCP</td>
                            <td class="ctv-value">{{policy.DSCP}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngSwitchCase="'edit'">
                    <form class="ui form" role="form" #formRef="ngForm"
                          (ngSubmit)="savePolicy(formRef.valid)" novalidate>

                        <div class="ui active inverted dimmer" *ngIf="showLoader">
                            <div class="ui loader"></div>
                        </div>

                        <div class="six wide field">
                            <div *ngIf="formRef.submitted">
                                <div *ngIf="!formRef.valid" class="ui negative message">
                                    <ul class="list">
                                        <li *ngIf="bandwidthNumberRef.errors?.required">
                                            Please enter bandwidth
                                        </li>
                                        <li *ngIf="bandwidthUnitRef.errors?.required">
                                            Please select bandwidth Unit
                                        </li>
                                        <li *ngIf="DSCPRef.errors?.required">
                                            Please enter DSCP
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <table>
                            <tbody>
                            <tr>
                                <td class="ctv-header">Profile Name</td>
                                <td class="ctv-value">{{policy.profileName}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="ui sixteen column grid" style="margin-top: 30px;">
                            <div class="ui row">
                                <div class="ui six wide column">

                                    <div class="fields">
                                        <div class="eight wide field">
                                            <label for="bandwidthNumber">Bandwidth Value</label>
                                            <input #bandwidthNumberRef="ngModel" type="number" id="bandwidthNumber" name="bandwidthNumber"
                                                   [(ngModel)]="policy.bandwidthNumber" placeholder="Enter bandwidth value" required>
                                        </div>
                                        <div class="eight wide field">
                                            <label for="bandwidthUnit">Bandwidth Unit</label>
                                            <select #bandwidthUnitRef="ngModel" name="bandwidthUnit" id="bandwidthUnit" class="ui dropdown"
                                                    [(ngModel)]="policy.bandwidthUnit" required>
                                                <option value="">-- Select bandwidth unit --</option>
                                                <option value="kbps">kbps</option>
                                                <option value="mbps">mbps</option>
                                                <option value="gbps">gbps</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                </div>
                            <div class="ui row">
                                <div class="ui six wide column">
                                    <div class="field">
                                        <label for="DSCP">DSCP</label>
                                        <input #DSCPRef="ngModel" type="number" id="DSCP" name="DSCP"
                                               [(ngModel)]="policy.DSCP" placeholder="Enter DSCP" required/>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="ui grid">
                            <div class="right aligned six wide column buttonRow">
                                <button type="button" class="ui basic button"
                                        (click)="cancelEditing()">
                                    Cancel
                                </button>

                                <button type="submit" class="ui primary button">
                                    Save
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
