
<div ng-switch="mode">
    <div ng-switch-when="create">
        <div class="field">
            <label for="newProfileName">Profile name</label>
            <input type="text" id="newProfileName" name="newProfileName"
               ng-model="bandwidthPolicy.profileName" placeholder="Enter profile name" required>
        </div>
    </div>
    <div ng-switch-when="edit">
        <table class="ui very basic selectable table">
            <tbody>
            <tr>
                <td class="ctv-header three wide column">Profile Name</td>
                <td>{{bandwidthPolicy.profileName}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="margin-top: 20px" class="fields">
    <div class = "thirteen wide field">
        <label for="newBandwidthNumber">Bandwidth </label>
        <input type="number" id="newBandwidthNumber" name="newBandwidthNumber"
               ng-model="bandwidthPolicy.bandwidthNumber" placeholder="Enter bandwidth" required>
    </div>
    <div class = "three wide field">
        <label for="newBandwidthUnit">Unit</label>
        <select name="newBandwidthUnit" id="newBandwidthUnit" class="ui dropdown"
                ng-model="bandwidthPolicy.bandwidthUnit" required>
            <option value="">-- Please select unit --</option>
            <option value="kbps">kbps</option>
            <option value="mbps">mbps</option>
            <option value="gbps">gbps</option>
        </select>
    </div>
</div>

<div class="field">
    <label for="newDSCP">DSCP</label>
    <input type="number" id="newDSCP" name="newDSCP"
           ng-model="bandwidthPolicy.DSCP" placeholder="Enter DSCP" required/>
</div>
