<div class="ui sixteen column grid">
    <div class="ui row pageHeader">
        <div class="left aligned eight wide column">
            <div class="content pageTitle">Create Bandwidth Policy</div>
        </div>
        <div class="right aligned eight wide column">&nbsp;</div>
    </div>
    <div class="ui row breadcrumbRow">
        <div class="ui sixteen wide column">
            <div class="breadcrumbs">
                <span class="crumb">
                    <a href="/#/m/networkpolicies/list">
                        Network Policies
                    </a>
                </span>
                <span class="crumb">
                    <a (click)="returnToPolicies()">
                        Bandwidth Policies
                    </a>
                </span>
                <span class="crumb">Create</span>
            </div>
        </div>
    </div>

    <div class="ui row">
        <div class="ui sixteen wide column">

            <form class="ui form" role="form" #formRef="ngForm"
                  (ngSubmit)="createPolicy(formRef.valid)" novalidate>
                <div class="ui active inverted dimmer" *ngIf="showLoader">
                    <div class="ui loader"></div>
                </div>

                <div class="ui basic segment">
                    <div class="six wide field">
                        <div *ngIf="formRef.submitted">
                            <div *ngIf="!formRef.valid" class="ui negative message">
                                <ul class="list">
                                    <li *ngIf="profileNameRef.errors?.required">Please enter profile
                                        name
                                    </li>
                                    <li *ngIf="policyTenantRef.errors?.required">
                                        Please select tenant
                                    </li>
                                    <li *ngIf="bandwidthNumberRef.errors?.required">Please enter
                                        bandwidth
                                    </li>
                                    <li *ngIf="bandwidthUnitRef.errors?.required">Please select
                                        bandwidth Unit
                                    </li>
                                    <li *ngIf="DSCPRef.errors?.required">Please enter DSCP</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="ui sixteen column grid">
                        <div class="ui row">
                            <div class="ui six wide column">
                                <div class="field">
                                    <label for="newProfileName">Policy name</label>
                                    <input #profileNameRef="ngModel" type="text" id="newProfileName" name="newProfileName"
                                           [(ngModel)]="newPolicy.profileName" placeholder="Enter profile name" required>
                                </div>
                            </div>
                        </div>
                        <div class="ui row">
                            <div class="ui six wide column">
                                <div class="field">
                                    <label for="newPolicyTenant">Tenant</label>
                                    <select id="newPolicyTenant" class="ui dropdown"
                                            name="newPolicyTenant"
                                            [(ngModel)]="newPolicy.tenantName"
                                            required #policyTenantRef="ngModel">
                                        <option value="">-- Please select tenant --</option>
                                        <option *ngFor="let tenant of tenants" [ngValue]="tenant.tenantName">{{tenant.tenantName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="ui row">
                            <div class="ui six wide column">

                                <div class="fields">
                                    <div class="eight wide field">
                                        <label for="newBandwidthNumber">Bandwidth Value</label>
                                        <input #bandwidthNumberRef="ngModel" type="number" id="newBandwidthNumber" name="newBandwidthNumber"
                                               [(ngModel)]="newPolicy.bandwidthNumber" placeholder="Enter bandwidth" required>
                                    </div>
                                    <div class="eight wide field">
                                        <label for="newBandwidthUnit">Bandwidth Unit</label>
                                        <select #bandwidthUnitRef="ngModel" name="newBandwidthUnit" id="newBandwidthUnit" class="ui dropdown"
                                                [(ngModel)]="newPolicy.bandwidthUnit" required>
                                            <option value=""> -- Select unit -- </option>
                                            <option value="kbps">kbps</option>
                                            <option value="mbps">mbps</option>
                                            <option value="gbps">gbps</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui row">
                            <div class="ui six wide column">
                                <div class="field">
                                    <label for="newDSCP">DSCP</label>
                                    <input #DSCPRef="ngModel" type="number" id="newDSCP" name="newDSCP"
                                           [(ngModel)]="newPolicy.DSCP" placeholder="Enter DSCP" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui grid">
                        <div class="right aligned six wide column">
                            <div class="buttonRow">
                                <button type="button" class="ui basic large button cancelBtn" (click)="cancelCreating()">
                                    Cancel
                                </button>
                                <button type="submit" class="ui blue large button primaryBtn">
                                    Create
                                </button>
                            </div>
                        </div>
                    </div>

                    <ctv-error *ngIf="showServerError" header="Error creating policy"
                               [error]="serverErrorMessage">
                    </ctv-error>
                </div>

            </form>
        </div>
    </div>
</div>
