<form class="ui form" role="form" #formRef="ngForm"
      (ngSubmit)="createContractGroup(formRef.valid)" novalidate>
    <div class="ui sixteen column grid">
        <div class="nine wide column">
            <div class="content">
                <a (click)="returnToContractGroups()">
                    <i class="large arrow left icon"></i>
                </a>
                <span style="font-size: 24px; margin-left: 6px">External Contract Groups</span>
                <span class="headingfontcolor" style="font-size: 24px"> (Create External Contract Group)</span>
            </div>
        </div>
    </div>

    <div class="ui active inverted dimmer" *ngIf="showLoader">
        <div class="ui loader"></div>
    </div>
    <div class="ui basic segment">
        <div class="field">
            <div *ngIf="formRef.submitted">
                <div *ngIf="!formRef.valid" class="ui negative message">
                    <ul class="list">
                        <li *ngIf="contractGroupNameRef.errors?.required">
                            Please enter external contract group name
                        </li>
                        <li *ngIf="contractGroupTenantRef.errors?.required">
                            Please select tenant
                        </li>
                        <li *ngIf="contractGroupTypeRef.errors?.required">
                            Please select external contract group type
                        </li>
                        <li *ngIf="contractGroupContractsRef.errors?.required">
                            Please enter contracts
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="field">
            <label for="newContractGroupName">External contract group name</label>
            <input #contractGroupNameRef="ngModel" type="text" id="newContractGroupName" name="newContractGroupName"
                   [(ngModel)]="newContractGroup.contractsGroupName" placeholder="Enter name" required>
        </div>
        <div class="field">
            <label for="newContractGroupTenant">Tenant</label>
            <select id="newContractGroupTenant" class="ui dropdown"
                    name="newContractGroupTenant"
                    [(ngModel)]="newContractGroup.tenantName"
                    required #contractGroupTenantRef="ngModel">
                <option value="">-- Please select tenant --</option>
                <option *ngFor="let tenant of tenants" [ngValue]="tenant.tenantName">{{tenant.tenantName}}</option>
            </select>
        </div>
        <div class="field">
            <label for="newContractGroupType">External contract group type</label>
            <select id="newContractGroupType" class="ui dropdown"
                    name="newContractGroupType"
                    [(ngModel)]="newContractGroup.contractsType"
                    required #contractGroupTypeRef>
                <option value="">-- Please select external contract group type --</option>
                <option value="consumed">consumed</option>
                <option value="provided">provided</option>
            </select>
        </div>
        <div class="field">
            <label for="newContractGroupContracts">Contracts</label>
            <input #contractGroupContractsRef="ngModel" type="text" id="newContractGroupContracts" name="newContractGroupContracts"
                   [(ngModel)]="contractsString" placeholder="Enter comma separated contract names" required>
        </div>
        <div class="ui grid">
            <div class="right aligned sixteen wide column">
                <div style="margin-top: 40px">

                    <button type="button" class="ui basic button" (click)="cancelCreating()">
                        Cancel
                    </button>
                    <button type="submit" class="ui blue button">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>