<div class="ui sixteen column grid">
    <div class="one wide column">
        <a (click)="returnToPolicies()">
            <i class="large arrow left icon"></i>
        </a>
    </div>
    <div class="left floated ten wide column">
        <div [ngSwitch]="mode" class="content" style="font-size: 24px">
            <span>Isolation Policies</span>
            <span *ngSwitchCase="'details'" class="headingfontcolor"> (Details)</span>
            <span *ngSwitchCase="'edit'" class="headingfontcolor"> (Edit)</span>
        </div>
    </div>
    <div [ngSwitch]="mode" class="right aligned five wide column">
        <div id="delete-policy-modal" class="ui small modal">
            <div class="header">Remove Policy: {{policy.policyName}}</div>
            <div class="content">
                <p>Are you sure you want to remove this policy?</p>
            </div>
            <div class="actions">
                <div class="ui negative button">No</div>
                <div class="ui positive blue button" (click)="deletePolicy()">
                    Yes
                </div>
            </div>
        </div>
        <button *ngSwitchCase="'edit'" class="ui disabled button"
                (click)="editPolicy()">
            <i class="edit icon"></i>
            Edit
        </button>
        <button *ngSwitchCase="'details'" class="ui basic button"
                (click)="editPolicy()">
            <i class="edit icon"></i>
            Edit
        </button>
        <button class="ui basic button" onclick="$('#delete-policy-modal').modal('show')">
            <i class="trash icon"></i>
            Remove
        </button>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui active inverted dimmer" *ngIf="showLoader">
        <div class="ui loader"></div>
    </div>
    <div><h4 class="ui header">Basic Settings</h4></div>
    <table class="ui very basic selectable table">
        <tbody>
        <tr>
            <td class="three wide column">Name</td>
            <td>{{policy.policyName}}</td>
        </tr>
        </tbody>
    </table>

    <form class="ui form" role="form">
        <h4 class="ui header">Incoming rules</h4>
        <div class="field">
            <div *ngIf="incorrectCIDR" class="ui negative message">
                <ul class="list">
                    <li>Please enter IP address in CIDR notation</li>
                </ul>
            </div>
        </div>
        <table class="ui very basic unstackable table" style="margin-top: 40px">
            <thead>
            <tr>
                <th class="one wide">Priority</th>
                <th class="two wide">Action</th>
                <th class="three wide">From group</th>
                <th class="three wide">From network</th>
                <th class="three wide">From IP address</th>
                <th class="two wide">Protocol</th>
                <th class="two wide">Port</th>
            </tr>
            </thead>

            <tbody [ngSwitch]="mode">
            <tr *ngSwitchCase="'edit'">
                <td>
                    <div class="ui input">
                        <input name="incomingRulePriority" [(ngModel)]="newIncomingRule.priority" type="number"></div>
                </td>
                <td>
                    <select class="ui dropdown" name="incomingRuleAction" [(ngModel)]="newIncomingRule.action">
                        <option value="allow">allow</option>
                        <option value="deny">deny</option>
                    </select>
                </td>
                <td>
                    <select class="ui dropdown"
                            #incomingSelectedApplicationGroup
                            name="incomingSelectedApplicationGroup"
                            ngModel
                            (change)="onChangeIncomingApplicationGroupSelection(incomingSelectedApplicationGroup.value)"
                            [disabled]="disableIncomingApplicationGroupSelection">
                        <option selected value="">none</option>
                        <option *ngFor="let group of applicationGroups">{{group.groupName}}</option>
                    </select>
                </td>
                <td>
                    <select class="ui dropdown"
                            #incomingSelectedNetwork
                            name="incomingSelectedNetwork"
                            ngModel
                            (change)="onChangeIncomingNetworkSelection(incomingSelectedNetwork.value)"
                            [disabled]="disableIncomingNetworkSelection">
                        <option selected value="">none</option>
                        <option *ngFor="let network of networks">{{network.networkName}}</option>
                    </select>
                </td>
                <td>
                    <div class="ui input">
                        <input name="incomingRuleFromIpAddress"
                               [(ngModel)]="newIncomingRule.fromIpAddress"
                               [disabled]="disableIncomingIPAddressSelection"
                               (change)="onChangeIncomingIPAddress()"
                               placeholder="0.0.0.0/0">
                    </div>
                </td>
                <td>
                    <select class="ui dropdown" name="incomingRuleProtocol" [(ngModel)]="newIncomingRule.protocol">
                        <option value="tcp">tcp</option>
                        <option value="udp">udp</option>
                        <option value="icmp">icmp</option>
                    </select>
                </td>
                <td>
                    <div class="ui input">
                        <input name="incomingRulePort"
                               [(ngModel)]="newIncomingRule.port"
                               type="number"
                               placeholder="0-65535">
                    </div>
                </td>
                <td>
                    <button class="ui icon button" (click)="addIncomingRule()">
                        <i class="blue add icon"></i>
                    </button>
                </td>
            </tr>
            <tr *ngFor="let rule of incomingRules">
                <td>{{rule.priority}}</td>
                <td>{{rule.action}}</td>
                <td>{{rule.fromEndpointGroup}}</td>
                <td>{{rule.fromNetwork}}</td>
                <td>{{rule.fromIpAddress}}</td>
                <td>{{rule.protocol}}</td>
                <td>{{rule.port}}</td>
                <td *ngIf="mode == 'edit'">
                    <button class="ui icon button" (click)="deleteIncomingRule(rule.key)">
                        <i class="trash icon"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <h4 class="ui header" style="margin-top: 40px">Outgoing rules</h4>
        <table class="ui very basic unstackable table" style="margin-top: 40px">
            <thead>
            <tr>
                <th class="one wide">Priority</th>
                <th class="two wide">Action</th>
                <th class="three wide">To group</th>
                <th class="three wide">To network</th>
                <th class="three wide">To IP address</th>
                <th class="two wide">Protocol</th>
                <th class="two wide">Port</th>
            </tr>
            </thead>

            <tbody [ngSwitch]="mode">
            <tr *ngSwitchCase="'edit'">

                <td>
                    <div class="ui input">
                        <input name="outgoingRulePriority" [(ngModel)]="newOutgoingRule.priority" type="number">
                    </div>
                </td>
                <td>
                    <select class="ui dropdown" name="outgoingRuleAction" [(ngModel)]="newOutgoingRule.action">
                        <option value="allow">allow</option>
                        <option value="deny">deny</option>
                    </select>
                </td>
                <td>
                    <select class="ui dropdown"
                            #outgoingSelectedApplicationGroup
                            name="outgoingSelectedApplicationGroup"
                            ngModel
                            (change)="onChangeOutgoingApplicationGroupSelection(outgoingSelectedApplicationGroup.value)"
                            [disabled]="disableOutgoingApplicationGroupSelection">
                        <option value="">none</option>
                        <option *ngFor="let group of applicationGroups">{{group.groupName}}</option>
                    </select>
                </td>
                <td>
                    <select class="ui dropdown"
                            #outgoingSelectedNetwork
                            name="outgoingSelectedNetwork"
                            ngModel
                            (change)="onChangeOutgoingNetworkSelection(outgoingSelectedNetwork.value)"
                            [disabled]="disableOutgoingNetworkSelection">
                        <option value="">none</option>
                        <option *ngFor="let network of networks">{{network.networkName}}</option>
                    </select>
                </td>
                <td>
                    <div class="ui input">
                        <input name="outgoingRuleToIpAddress"
                               [(ngModel)]="newOutgoingRule.toIpAddress"
                               [disabled]="disableOutgoingIPAddressSelection"
                               (change)="onChangeOutgoingIPAddress()"
                               placeholder="0.0.0.0/0">
                    </div>
                </td>
                <td>
                    <select class="ui dropdown" name="outgoingRuleProtocol" [(ngModel)]="newOutgoingRule.protocol">
                        <option value="tcp">tcp</option>
                        <option value="udp">udp</option>
                        <option value="icmp">icmp</option>
                    </select>
                </td>
                <td>
                    <div class="ui input">
                        <input name="outgoingRulePort"
                               [(ngModel)]="newOutgoingRule.port"
                               type="number"
                               placeholder="0-65535">
                    </div>
                </td>

                <td>
                    <button class="ui icon button" (click)="addOutgoingRule()">
                        <i class="blue add icon"></i>
                    </button>
                </td>

            </tr>
            <tr *ngFor="let rule of outgoingRules">
                <td>{{rule.priority}}</td>
                <td>{{rule.action}}</td>
                <td>{{rule.toEndpointGroup}}</td>
                <td>{{rule.toNetwork}}</td>
                <td>{{rule.toIpAddress}}</td>
                <td>{{rule.protocol}}</td>
                <td>{{rule.port}}</td>
                <td *ngIf="mode == 'edit'">
                    <button class="ui icon button" (click)="deleteOutgoingRule(rule.key)">
                        <i class="trash icon"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <div [ngSwitch]="mode">
        <div class="ui grid" style="margin-top: 40px">
            <div class="right aligned sixteen wide column">
                <button *ngSwitchCase="'edit'" type="button" class="ui blue button"
                        (click)="doneEditing()">
                    Done
                </button>
            </div>
        </div>
        <ctv-error *ngIf="((showServerError) && (mode === 'edit'))"
                   header="Error editing isolation policy"
                   [error]="serverErrorMessage">
        </ctv-error>
        <ctv-error *ngIf="((showServerError) && (mode === 'details'))"
                   header="Error deleting isolation policy"
                   [error]="serverErrorMessage">
        </ctv-error>
    </div>
</div>
