<form class="ui form" role="form" #formRef="ngForm"
      (ngSubmit)="createApplicationGroup(formRef.valid)"
      novalidate>
    <div class="ui sixteen column grid">
        <div class="nine wide column">
            <div class="content">
                <a [routerLink]="['../list']">
                    <i class="large arrow left icon"></i>
                </a>
                <span style="font-size: 24px; margin-left: 6px">Application Groups</span>
                <span class="headingfontcolor" style="font-size: 24px"> (Create Application Group)</span>
            </div>
        </div>
    </div>
    <div class="ui active inverted dimmer" *ngIf="showLoader">
        <div class="ui loader"></div>
    </div>
    <div class="ui basic segment">
        <div class="field">
            <div *ngIf="formRef.submitted">
                <div *ngIf="!formRef.valid" class="ui negative message">
                    <ul class="list">
                        <li *ngIf="newApplicationGroupNameRef.errors?.required">Please
                            enter application group name
                        </li>
                        <li *ngIf="newApplicationGroupTenantRef.errors?.required">
                            Please select tenant
                        </li>
                        <li *ngIf="newApplicationGroupNetworkRef.errors?.required">Please
                            select network
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="newApplicationGroupName">Application group name</label>
            <input #newApplicationGroupNameRef="ngModel"
                   type="text"
                   id="newApplicationGroupName"
                   name="newApplicationGroupName"
                   [(ngModel)]="applicationGroup.groupName"
                   placeholder="Enter name" required>
        </div>
        <div class="field">
            <label for="newApplicationGroupTenant">Tenant</label>
            <select id="newApplicationGroupTenant" class="ui dropdown"
                    name="newApplicationGroupTenant"
                    ngModel
                    (change)="updateTenant($event.target.value, isolationPolicyRef, bandwidthPolicyRef, contractGroupRef)"
                    required #newApplicationGroupTenantRef="ngModel">
                <option value="">-- Please select tenant --</option>
                <option *ngFor="let tenant of tenants" [value]="tenant.tenantName">{{tenant.tenantName}}</option>
            </select>
        </div>
        <div class="field">
            <label for="newApplicationGroupNetwork">Network</label>
            <select id="newApplicationGroupNetwork"
                    class="ui dropdown"
                    #newApplicationGroupNetworkRef="ngModel"
                    name="newApplicationGroupNetwork"
                    [(ngModel)]="applicationGroup.networkName"
                    required>
                <option value="">-- Please select network --</option>
                <option *ngFor="let network of networks"
                        [ngValue]="network.networkName">
                    {{network.networkName}}
                </option>
            </select>
        </div>

        <div class="ui section divider" style="margin-top: 30px"></div>

        <ctv-collapsible title="Isolation Policies">
            <ctv-isolationpolicy mode="edit" [applicationgroup]="applicationGroup" #isolationPolicyRef></ctv-isolationpolicy>
        </ctv-collapsible>

        <div class="ui section divider"></div>

        <ctv-collapsible title="Bandwidth Policies">
            <ctv-bandwidthpolicy mode="edit" [applicationgroup]="applicationGroup" #bandwidthPolicyRef></ctv-bandwidthpolicy>
        </ctv-collapsible>

        <div class="ui section divider"></div>

        <ctv-collapsible title="External Contract Groups (ACI)">
            <ctv-contractgroup mode="edit" [applicationgroup]="applicationGroup" #contractGroupRef></ctv-contractgroup>
        </ctv-collapsible>

        <div class="ui grid">
            <div class="right aligned sixteen wide column">
                <div style="margin-top: 40px">
                    <button type="button" class="ui basic button"
                            (click)="cancelCreating()">Cancel
                    </button>
                    <button type="submit" class="ui blue button">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>