<form class="ui form" name="applicationGroupCreateCtrl.form" role="form" ng-submit="applicationGroupCreateCtrl.createApplicationGroup(applicationGroup)"
      novalidate>
    <div class="field">
        <div ng-show="applicationGroupCreateCtrl.form.$submitted">
            <div ng-hide="applicationGroupCreateCtrl.form.$valid" class="ui negative message">
                <ul class="list">
                    <li ng-show="applicationGroupCreateCtrl.form.newApplicationGroupName.$error.required">Please enter application group name</li>
                    <li ng-show="applicationGroupCreateCtrl.form.newApplicationGroupNetwork.$error.required">Please select network</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="field">
        <label for="newApplicationGroupName">Application group name</label>
        <input type="text" id="newApplicationGroupName" name="newApplicationGroupName"
               ng-model="applicationGroupCreateCtrl.applicationGroup.groupName" placeholder="Enter name" required>
    </div>
    <div class="field">
        <label for="newApplicationGroupNetwork">Network</label>
        <select id="newApplicationGroupNetwork" class="ui dropdown"
                name="newApplicationGroupNetwork"
                ng-model="applicationGroupCreateCtrl.selectedNetwork"
                ng-options="network.networkName for network in applicationGroupCreateCtrl.networks"
                required>
            <option value="">-- Please select network --</option>
        </select>
    </div>

    <div class="ui section divider" style="margin-top: 30px"></div>
    <div class="field">
        <h4 class="ui header">
            <i class="grey plus circle outline icon"></i>
        Labels
        </h4>
    </div>

    <div class="ui section divider"></div>
    <div class="field">
        <div ng-click="applicationGroupCreateCtrl.isolationPoliciesVisible = !applicationGroupCreateCtrl.isolationPoliciesVisible">
            <h4 class="ui header">
                <i ng-if="applicationGroupCreateCtrl.isolationPoliciesVisible" class="grey minus circle outline icon"></i>
                <i ng-if="!applicationGroupCreateCtrl.isolationPoliciesVisible" class="grey plus circle outline icon"></i>
                Isolation Policies
            </h4>
        </div>
        <div ng-show="applicationGroupCreateCtrl.isolationPoliciesVisible">
            <table class="ui very basic collapsing unstackable table">
                <tbody>
                <tr>
                    <td>
                        <div class="ui left icon input">
                            <input type="text" ng-model="isolationPolicySearchText.policyName"
                                   placeholder="Filter by policy name">
                            <i class="search icon"></i>
                        </div>
                    </td>
                    <td>
                        <select class="ui dropdown" ng-model="applicationGroupCreateCtrl.selectedPolicy"
                                ng-options="policy.policyName for policy in applicationGroupCreateCtrl.isolationPolicies | filter:isolationPolicySearchText">
                        </select>
                    </td>
                    <td>
                        <button type="button" class="ui icon button"
                                ng-click="applicationGroupCreateCtrl.addIsolationPolicy()">
                            <i class="blue add icon"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="policy in applicationGroupCreateCtrl.applicationGroup.policies">
                    <td>{{policy}}</td>
                    <td></td>
                    <td>
                        <button type="button" class="ui icon button"
                                ng-click="applicationGroupCreateCtrl.removeIsolationPolicy(policy)">
                            <i class="trash icon"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <h5 class="ui header">Incoming rules</h5>
            <table class="ui very basic unstackable table" style="margin-top: 40px">
                <thead>
                <tr>
                    <th>Priority</th>
                    <th>Action</th>
                    <th>From group</th>
                    <th>From network</th>
                    <th>From IP address</th>
                    <th>Protocol</th>
                    <th>Port</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="rule in applicationGroupCreateCtrl.incomingRules">
                    <td>{{rule.priority}}</td>
                    <td>{{rule.action}}</td>
                    <td>{{rule.fromEndpointGroup}}</td>
                    <td>{{rule.fromNetwork}}</td>
                    <td>{{rule.fromIPAddress}}</td>
                    <td>{{rule.protocol}}</td>
                    <td>{{rule.port}}</td>
                </tr>

                </tbody>
            </table>

            <h5 class="ui header" style="margin-top: 40px">Outgoing rules</h5>
            <table class="ui very basic unstackable table" style="margin-top: 40px">
                <thead>
                <tr>
                    <th>Priority</th>
                    <th>Action</th>
                    <th>To group</th>
                    <th>To network</th>
                    <th>To IP address</th>
                    <th>Protocol</th>
                    <th>Port</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="rule in applicationGroupCreateCtrl.outgoingRules">
                    <td>{{rule.priority}}</td>
                    <td>{{rule.action}}</td>
                    <td>{{rule.toEndpointGroup}}</td>
                    <td>{{rule.toNetwork}}</td>
                    <td>{{rule.toIPAddress}}</td>
                    <td>{{rule.protocol}}</td>
                    <td>{{rule.port}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ui section divider"></div>
    <div class="field">
        <h4 class="ui header">
            <i class="grey plus circle outline icon"></i>
            Prioritization Policies
        </h4>
    </div>

    <div class="ui section divider"></div>
    <div class="field">
        <h4 class="ui header">
            <i class="grey plus circle outline icon"></i>
            Bandwidth Policies
        </h4>
    </div>

    <div class="ui section divider"></div>
    <div class="field">
        <h4 class="ui header">
            <i class="grey plus circle outline icon"></i>
            Redirection Policies
        </h4>
    </div>
    <div style="margin-top: 40px">
        <button type="button" class="ui basic button" ng-click="applicationGroupCreateCtrl.cancelCreating()">Cancel
        </button>
        <button type="submit" class="ui blue button">
            Create
        </button>
    </div>
</form>