<div class="ui sixteen column grid">
    <div class="left aligned twelve wide column">
        <div class="content" style="font-size: 24px">Application Groups</div>
    </div>

    <div class="center aligned four wide column">
        <button class="ui blue button" (click)="create()">
            <i class="add icon"></i>
            Create Application Group
        </button>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui active inverted dimmer" *ngIf="applicationGroupListCtrl.showLoader">
        <div class="ui loader"></div>
    </div>
    <ctv-table #tableRef [defaultSortColumn]="'groupName'"
               [items]="applicationGroupListCtrl['groups']"
               (filtereditems)="applicationGroupListCtrl['filteredgroups']=$event;"
               [size]="12">
        <thead>
            <tr>
                <th><ctv-th [sortfield]="'groupName'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj">Name</ctv-th></th>
                <th><ctv-th [sortfield]="'networkName'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj">Network</ctv-th></th>
                <th><ctv-th [sortfield]="'policies'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj">Policies</ctv-th></th>
                <th class="right floated three wide column">
                    <ctv-search (searchTextChange)="tableRef.showChunk(tableRef.table.pageNo,$event);" [placeholder]="'Search application groups...'"></ctv-search>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let group of applicationGroupListCtrl['filteredgroups']">
                <td><a href="/#/m/applicationgroups/details/{{group.key}}">{{group.groupName}}</a></td>
                <td>{{group.networkName}}</td>
                <td>{{group.policies.join(", ")}}</td>
                <td></td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4">
                    <ctv-tpagination [chunks]="tableRef.pageChunks"
                                     (showPage)="tableRef.showChunk($event, tableRef.table.searchText)"
                                     (prevChunk)="tableRef.showPrevChunk()"
                                     (nextChunk)="tableRef.showNextChunk()">

                    </ctv-tpagination>
                </td>
            </tr>
        </tfoot>
    </ctv-table>
</div>