<div class="ui sixteen column grid">
    <div class="one wide column">
        <a ui-sref="contiv.menu.applicationgroups.list()">
            <i class="large arrow left icon"></i>
        </a>
    </div>
    <div class="left floated ten wide column">
        <div ng-switch="applicationGroupDetailsCtrl.mode" class="content" style="font-size: 24px">
            <span>Application Groups</span>
            <span ng-switch-when="details" class="headingfontcolor"> (Details)</span>
            <span ng-switch-when="edit" class="headingfontcolor"> (Edit)</span>
        </div>
    </div>
    <div ng-switch="applicationGroupDetailsCtrl.mode" class="right aligned five wide column">
        <div id="delete-group-modal" class="ui small modal">
            <div class="header">Remove Application Group: {{applicationGroupDetailsCtrl.applicationGroup.groupName}}
            </div>
            <div class="content">
                <p>Are you sure you want to remove this application group?</p>
            </div>
            <div class="actions">
                <div class="ui negative button">No</div>
                <div class="ui positive button" ng-click="applicationGroupDetailsCtrl.deleteApplicationGroup()">
                    Yes
                </div>
            </div>
        </div>
        <button ng-switch-when="edit" class="ui disabled button"
                ui-sref="contiv.menu.applicationgroups.edit({key:applicationGroupDetailsCtrl.applicationGroup.key})">
            <i class="edit icon"></i>
            Edit
        </button>
        <button ng-switch-when="details" class="ui basic button"
                ui-sref="contiv.menu.applicationgroups.edit({key:applicationGroupDetailsCtrl.applicationGroup.key})">
            <i class="edit icon"></i>
            Edit
        </button>
        <button class="ui basic button" onclick="$('#delete-group-modal').modal('show')">
            <i class="trash icon"></i>
            Remove
        </button>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui active inverted dimmer" ng-show="applicationGroupDetailsCtrl.showLoader">
        <div class="ui loader"></div>
    </div>
    <div><h4 class="ui header">Basic Settings</h4></div>  <!-- Top Margin is less,When h4 is first child in div -->
    <table class="ui very basic selectable table">
        <tbody>
        <tr>
            <td class="three wide column">Name</td>
            <td>{{applicationGroupDetailsCtrl.applicationGroup.groupName}}</td>
        </tr>
        <tr>
            <td class="three wide column">Network</td>
            <td>{{applicationGroupDetailsCtrl.applicationGroup.networkName}}</td>
        </tr>
        </tbody>
    </table>

    <div class="ui section divider" style="margin-top: 30px"></div>
    <h4 class="ui header">
        <i class="grey plus circle outline icon"></i>
        Labels
    </h4>


    <div class="ui section divider"></div>

    <ctv-collapsible title="Isolation Policies">
        <ctv-isolationpolicy mode="applicationGroupDetailsCtrl.mode" applicationgroup="applicationGroupDetailsCtrl.applicationGroup"></ctv-isolationpolicy>
    </ctv-collapsible>

    <div class="ui section divider"></div>

    <ctv-collapsible title="Bandwidth Policies">
        <ctv-bandwidthpolicy mode="applicationGroupDetailsCtrl.mode" applicationgroup="applicationGroupDetailsCtrl.applicationGroup"></ctv-bandwidthpolicy>
    </ctv-collapsible>


    <div class="ui section divider"></div>

    <h4 class="ui header">
        <i class="grey plus circle outline icon"></i>
        Redirection Policies
    </h4>


    <div ng-switch="applicationGroupDetailsCtrl.mode" style="margin-top: 40px">
        <div class="ui grid">
            <div class="right aligned sixteen wide column">
                <button ng-switch-when="edit" type="button" class="ui basic button"
                        ng-click="applicationGroupDetailsCtrl.cancelEditing()">Cancel
                </button>
                <button ng-switch-when="edit" type="button" class="ui blue button"
                        ng-click="applicationGroupDetailsCtrl.saveApplicationGroup()">
                    Save
                </button>
            </div>
        </div>
        <ctv-error ng-switch-when="edit" ng-show="applicationGroupDetailsCtrl.showServerError"
                   header="Error saving application group"
                   error="applicationGroupDetailsCtrl.serverErrorMessage">
        </ctv-error>
        <ctv-error ng-switch-when="details" ng-show="applicationGroupDetailsCtrl.showServerError"
                   header="Error deleting application group"
                   error="applicationGroupDetailsCtrl.serverErrorMessage">
        </ctv-error>
    </div>

</div>

