<div class="ui sixteen column grid">
    <div class="one wide column">
        <a href="/#/m/applicationgroups/list">
            <i class="large arrow left icon"></i>
        </a>
    </div>
    <div class="left floated ten wide column">
        <div [ngSwitch]="mode" class="content" style="font-size: 24px">
            <span>Application Groups</span>
            <span *ngSwitchCase="'details'" class="headingfontcolor"> (Details)</span>
            <span *ngSwitchCase="'edit'" class="headingfontcolor"> (Edit)</span>
        </div>
    </div>
    <div [ngSwitch]="mode" class="right aligned five wide column">
        <div id="delete-group-modal" class="ui small modal">
            <div class="header">Remove Application Group: {{applicationGroup.groupName}}
            </div>
            <div class="content">
                <p>Are you sure you want to remove this application group?</p>
            </div>
            <div class="actions">
                <div class="ui negative button">No</div>
                <div class="ui positive button" (click)="deleteApplicationGroup()">
                    Yes
                </div>
            </div>
        </div>
        <button *ngSwitchCase="'edit'" class="ui disabled button"
                (click)="editApplicationGroup()">
            <i class="edit icon"></i>
            Edit
        </button>
        <button *ngSwitchCase="'details'" class="ui basic button"
                (click)="editApplicationGroup()">
            <i class="edit icon"></i>
            Edit
        </button>
        <button class="ui basic button" onclick="$('#delete-group-modal').modal('show')">
            <i class="trash icon"></i>
            Remove
        </button>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui active inverted dimmer" *ngIf="showLoader">
        <div class="ui loader"></div>
    </div>
    <div><h4 class="ui header">Basic Settings</h4></div>  <!-- Top Margin is less,When h4 is first child in div -->
    <table class="ui very basic selectable table">
        <tbody>
        <tr>
            <td class="three wide column">Name</td>
            <td>{{applicationGroup.groupName}}</td>
        </tr>
        <tr>
            <td class="three wide column">Network</td>
            <td>{{applicationGroup.networkName}}</td>
        </tr>
        </tbody>
    </table>

    <div class="ui section divider" style="margin-top: 30px"></div>
    <h4 class="ui header">
        <i class="grey plus circle outline icon"></i>
        Labels
    </h4>


    <div class="ui section divider"></div>

    <ctv-collapsible title="Isolation Policies">
        <ctv-isolationpolicy [mode]="mode" [applicationgroup]="applicationGroup"></ctv-isolationpolicy>
    </ctv-collapsible>

    <div class="ui section divider"></div>

    <ctv-collapsible title="Bandwidth Policies">
        <ctv-bandwidthpolicy [mode]="mode" [applicationgroup]="applicationGroup"></ctv-bandwidthpolicy>
    </ctv-collapsible>


    <div class="ui section divider"></div>

    <h4 class="ui header">
        <i class="grey plus circle outline icon"></i>
        Redirection Policies
    </h4>


    <div [ngSwitch]="mode" style="margin-top: 40px">
        <div class="ui grid">
            <div class="right aligned sixteen wide column">
                <button *ngSwitchCase="'edit'" type="button" class="ui basic button"
                        (click)="cancelEditing()">Cancel
                </button>
                <button *ngSwitchCase="'edit'" type="button" class="ui blue button"
                        (click)="saveApplicationGroup()">
                    Save
                </button>
            </div>
        </div>
        <ctv-error *ngIf="((showServerError) && (mode === 'edit'))"
                   header="Error saving application group"
                   [error]="serverErrorMessage">
        </ctv-error>
        <ctv-error *ngIf="((showServerError) && (mode === 'details'))"
                   header="Error deleting application group"
                   [error]="serverErrorMessage">
        </ctv-error>
    </div>

</div>

