<div *ngIf="mode=='edit'" class="field">
    <table class="ui very basic collapsing unstackable table">
        <tbody>
        <tr>
            <td>
                <div class="ui left icon input">
                    <input name="netProfileSearchText"
                           type="text"
                           [(ngModel)]="netProfileSearchText"
                           placeholder="Filter by profile name">
                    <i class="search icon"></i>
                </div>
            </td>
            <td>
                <select class="ui dropdown"
                        name="selectNetprofile"
                        [ngModel]="selectedNetprofile"
                        (ngModelChange)="updateApplicationgroup($event)">
                    <option value="">-- Please select bandwidth --</option>
                    <option *ngFor="let policy of (netProfiles | filter:netProfileSearchText)"
                            [ngValue]="policy">
                        {{policy.profileName}}
                    </option>
                </select>
            </td>

        </tr>
        </tbody>
    </table>
    <h5 class="ui header">Bandwidth Details</h5>
    <table class="ui very basic unstackable table" style="margin-top: 20px">
        <thead>
        <tr>
            <th>Profile Name</th>
            <th>Tenant Name</th>
            <th>Bandwidth</th>
            <th>DSCP</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{selectedNetprofile.profileName}}</td>
            <td>{{selectedNetprofile.tenantName}}</td>
            <td>{{selectedNetprofile.bandwidth}}</td>
            <td>{{selectedNetprofile.DSCP}}</td>
        </tr>
        </tbody>
    </table>
</div>

<table *ngIf="mode == 'details'" class="ui very basic unstackable table">
    <tbody>
    <tr>
        <td class="ctv-header three wide column">Profile Name</td>
        <td>{{applicationgroup.netProfile}}</td>
    </tr>
    </tbody>
</table>

