<div [ngSwitch]="mode" class="field">
    <table *ngSwitchCase="'edit'" class="ui very basic collapsing unstackable table">
        <tbody>
        <tr>
            <td>
                <div class="ui left icon input">
                    <input name="isolationPolicySearchText"
                           type="text"
                           [(ngModel)]="isolationPolicySearchText"
                           placeholder="Filter by policy name">
                    <i class="search icon"></i>
                </div>
            </td>
            <td>
                <select #selectIsolationPolicyRef
                        name="selectIsolationPolicies"
                        class="ui dropdown"
                        ngModel>
                    <option value="">-- Please select policy --</option>
                    <option *ngFor="let policy of (isolationPolicies | filter:isolationPolicySearchText)"
                            [value]="policy.policyName">
                        {{policy.policyName}}
                    </option>
                </select>
            </td>
            <td>
                <button type="button" class="ui icon button"
                        (click)="addIsolationPolicy(selectIsolationPolicyRef.value)">
                    <i class="blue add icon"></i>
                </button>
            </td>
        </tr>
        <tr *ngFor="let policy of applicationgroup.policies">
            <td>{{policy}}</td>
            <td></td>
            <td>
                <button type="button" class="ui icon button"
                        (click)="removeIsolationPolicy(policy)">
                    <i class="trash icon"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <table *ngSwitchCase="'details'" class="ui very basic unstackable table">
        <tbody>
        <tr *ngFor="let policy of applicationgroup.policies">
            <td>{{policy}}</td>
        </tr>
        </tbody>
    </table>

    <h5 class="ui header">Incoming rules</h5>
    <table class="ui very basic unstackable table" style="margin-top: 40px">
        <thead>
        <tr>
            <th>Policy Name</th>
            <th>Priority</th>
            <th>Action</th>
            <th>From group</th>
            <th>From network</th>
            <th>From IP address</th>
            <th>Protocol</th>
            <th>Port</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let rule of incomingRules">
            <td>{{rule.policyName}}</td>
            <td>{{rule.priority}}</td>
            <td>{{rule.action}}</td>
            <td>{{rule.fromEndpointGroup}}</td>
            <td>{{rule.fromNetwork}}</td>
            <td>{{rule.fromIPAddress}}</td>
            <td>{{rule.protocol}}</td>
            <td>{{rule.port}}</td>
        </tr>

        </tbody>
    </table>

    <h5 class="ui header" style="margin-top: 40px">Outgoing rules</h5>
    <table class="ui very basic unstackable table" style="margin-top: 40px">
        <thead>
        <tr>
            <th>Policy Name</th>
            <th>Priority</th>
            <th>Action</th>
            <th>To group</th>
            <th>To network</th>
            <th>To IP address</th>
            <th>Protocol</th>
            <th>Port</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let rule of outgoingRules">
            <td>{{rule.policyName}}</td>
            <td>{{rule.priority}}</td>
            <td>{{rule.action}}</td>
            <td>{{rule.toEndpointGroup}}</td>
            <td>{{rule.toNetwork}}</td>
            <td>{{rule.toIPAddress}}</td>
            <td>{{rule.protocol}}</td>
            <td>{{rule.port}}</td>
        </tr>
        </tbody>
    </table>
</div>