<div class="ui sixteen column grid">
    <div class="nine wide column">
        <div [ngSwitch]="mode" class="content">
            <a [routerLink]="['../../list']">
                <i class="large arrow left icon"></i>
            </a>
            <span style="font-size: 24px; margin-left: 6px">Nodes</span>
            <span *ngSwitchCase="'details'" class="headingfontcolor" style="font-size: 24px"> (Details)</span>
            <span *ngSwitchCase="'edit'" class="headingfontcolor" style="font-size: 24px"> (Edit)</span>
        </div>
    </div>

    <div [ngSwitch]="mode" class="right aligned seven wide column">
        <div id="delete-node-modal" class="ui small modal">
            <div class="header">Remove Node: {{node.hostname}}
            </div>
            <div class="content">
                <p>Are you sure you want to remove this node?</p>
            </div>
            <div class="actions">
                <div class="ui negative button">No</div>
                <div class="ui positive button" (click)="deleteNode()">
                    Yes
                </div>
            </div>
        </div>
        <button *ngSwitchCase="'edit'" class="ui disabled button"
                (click)="editNode()">
            <i class="edit icon"></i>
            Edit
        </button>
        <button *ngSwitchCase="'details'" class="ui basic button"
                (click)="editNode()">
            <i class="edit icon"></i>
            Edit
        </button>
        <button class="ui basic button" onclick="$('#delete-node-modal').modal('show')">
            <i class="trash icon"></i>
            Remove
        </button>
    </div>
</div>

<div class="ui secondary pointing menu" *ngIf="mode=='details'">
    <a class="blue item" [ngClass]="{active: infoselected}" (click)="infoselected=true">
        <i class="details icon"></i>
        DETAILS
    </a>
    <a class="blue item" [ngClass]="{active: !infoselected}" (click)="infoselected=false">
        <i class="area chart icon"></i>
        STATS
    </a>
</div>

<nodeinfo *ngIf="infoselected" [mode]="mode"></nodeinfo>

<nodestats *ngIf="!infoselected" [statkey]="statskey"></nodestats>


