<div class="ui sixteen column grid">
    <div class="nine wide column">
        <div [ngSwitch]="mode" class="content">
            <a [routerLink]="['../../list']">
                <i class="large arrow left icon"></i>
            </a>
            <span style="font-size: 24px; margin-left: 6px">Nodes</span>
            <span *ngSwitchCase="'details'" class="headingfontcolor" style="font-size: 24px"> (Details)</span>
            <span *ngSwitchCase="'edit'" class="headingfontcolor" style="font-size: 24px"> (Edit)</span>
        </div>
    </div>

    <div [ngSwitch]="mode" class="right aligned seven wide column">
        <div id="delete-appProfile-modal" class="ui small modal">
            <div class="header">Remove Node: {{node.hostname}}
            </div>
            <div class="content">
                <p>Are you sure you want to remove this node?</p>
            </div>
            <div class="actions">
                <div class="ui negative button">No</div>
                <div class="ui positive button" (click)="deleteNode()">
                    Yes
                </div>
            </div>
        </div>
        <button *ngSwitchCase="'edit'" class="ui disabled button"
                (click)="editNode()">
            <i class="edit icon"></i>
            Edit
        </button>
        <button *ngSwitchCase="'details'" class="ui basic button"
                (click)="editNode()">
            <i class="edit icon"></i>
            Edit
        </button>
        <button class="ui basic button" onclick="$('#delete-node-modal').modal('show')">
            <i class="trash icon"></i>
            Remove
        </button>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui active inverted dimmer" *ngIf="showLoader">
        <div class="ui loader"></div>
    </div>
    <div><h4 class="ui header">Basic Settings</h4></div>  <!-- Top Margin is less,When h4 is first child in div -->
    <table class="ui very basic selectable table">
        <tbody>
        <tr>
            <td class="three wide column">Host Name</td>
            <td>{{node.hostname}}</td>
        </tr>
        </tbody>
    </table>

    <div class="ui section divider" style="margin-top: 30px"></div>


    <div [ngSwitch]="mode">
        <form class="ui form"
              role="form"
              (submit)="saveNode(formRef.valid)" novalidate #formRef="ngForm">

            <ctv-collapsible title="BGP">
                <div *ngSwitchCase="'edit'">
                    <div class="field">
                        <div *ngIf="formRef.submitted">
                            <div [hidden]="formRef.valid" class="ui negative message">
                                <ul class="list">
                                    <li *ngIf="routerIP.errors?.required">
                                        Please enter router IP
                                    </li>
                                    <li *ngIf="AS.errors?.required">
                                        Please enter autonomous system
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="routerIP">Router IP</label>
                        <input type="text" id="routerIP" name="routerIP"
                               [(ngModel)]="node['routerip']"
                               placeholder="Enter router IP" required>
                    </div>

                    <div class="field">
                        <label for="AS">Autonomous system</label>
                        <input type="number" id="AS" name="AS"
                               [(ngModel)]="node['as']"
                               placeholder="Enter autonomous system"
                               required>
                    </div>

                    <div class="field">
                        <label for="neighborIP">Neighbor IP</label>
                        <input type="text" id="neighborIP" name="neighborIP"
                               [(ngModel)]="node['neighbor']"
                               placeholder="Enter neighbor IP">
                    </div>

                    <div class="field">
                        <label for="neighborAS">Neighbor autonomous system</label>
                        <input type="number" id="neighborAS" name="neighborAS"
                               [(ngModel)]="node['neighbor-as']"
                               placeholder="Enter neighbor autonomous system">
                    </div>
                </div>
                <div *ngSwitchCase="'details'">
                    <table class="ui very basic selectable table">
                        <tbody>
                        <tr>
                            <td class="ctv-header three wide column">Router IP</td>
                            <td>{{node['routerip']}}</td>
                        </tr>
                        <tr>
                            <td class="ctv-header three wide column">Autonomous system</td>
                            <td>{{node['as']}}</td>
                        </tr>
                        <tr>
                            <td class="ctv-header three wide column">Neighbor IP</td>
                            <td>{{node['neighbor']}}</td>
                        </tr>
                        <tr>
                            <td class="ctv-header three wide column">Neighbor autonomous system</td>
                            <td>{{node['neighbor-as']}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </ctv-collapsible>

            <div *ngSwitchCase="'edit'" class="ui grid" style="margin-top: 40px">
                <div class="right aligned sixteen wide column">
                    <button type="button" class="ui basic button"
                            (click)="cancelEditing()">Cancel
                    </button>
                    <button type="submit" class="ui blue button">
                        Save
                    </button>
                </div>
            </div>
            <ctv-error *ngIf="((showServerError) && (mode === 'edit'))"
                       header="Error saving node"
                       [error]="serverErrorMessage">
            </ctv-error>
        </form>
        <ctv-error *ngIf="((showServerError) && (mode === 'details'))"
                   header="Error deleting node"
                   [error]="serverErrorMessage">
        </ctv-error>
    </div>

</div>

