<div [ngSwitch]="mode" class="ui sixteen column grid">
    <div class="ui row pageHeader">
        <div class="left aligned eight wide column">
            <div class="content pageTitle">
                <span *ngSwitchCase="'details'">{{node.hostname}}</span>
                <span *ngSwitchCase="'edit'">{{node.hostname}}</span>
            </div>
        </div>
        <div class="right aligned eight wide column">

            <div id="delete-node-modal" class="ui small modal">
                <div class="header">Remove Node: {{node.hostname}}
                </div>
                <div class="content">
                    <p>Are you sure you want to remove this node?</p>
                </div>
                <div class="actions">
                    <div class="ui negative button">Cancel</div>
                    <div class="ui positive button" (click)="deleteNode()">
                        Remove
                    </div>
                </div>
            </div>

            <button *ngSwitchCase="'details'" class="ui large button cancelBtn"
                    (click)="cancelDetails()">
                Close
            </button>
            <button *ngSwitchCase="'edit'" class="ui large button cancelBtn"
                    (click)="cancelEditing()">
                Cancel
            </button>
            <button *ngSwitchCase="'details'" class="ui large button secondaryBtn"
                    (click)="editNode()">
                Edit
            </button>
            <button class="ui large button secondaryBtn" onclick="$('#delete-node-modal').modal('show')">
                <i class="trash icon"></i>
                Remove
            </button>

        </div>
    </div>

    <div class="ui row breadcrumbRow">
        <div class="ui sixteen wide column">
            <div class="breadcrumbs">
                <span class="crumb">
                    <a [routerLink]="['../../list']">
                        Nodes
                    </a>
                </span>
                <span class="crumb">{{node.hostname}}</span>
            </div>
        </div>
    </div>

    <div class="ui row">
        <div class="ui sixteen wide column">

            <div class="ui tabular menu" *ngIf="mode=='details'">
                <a class="item" [ngClass]="{active: infoselected}" (click)="infoselected=true">
                    Details
                </a>
                <a class="item" [ngClass]="{active: !infoselected}" (click)="infoselected=false">
                    Stats
                </a>
            </div>

            <nodeinfo *ngIf="infoselected" [mode]="mode"></nodeinfo>

            <nodestats *ngIf="!infoselected" [statkey]="statskey"></nodestats>

        </div>
    </div>
</div>
