<div class="ui sixteen column grid">
    <div class="ui row pageHeader">
        <div class="left aligned nine wide column">
            <div class="content pageTitle" style="display: inline-block">
                Tenants
            </div>
            <tooltip>Tenants are the highest level of organization in Contiv. Create tenants and then assign the appropriate users and create networks. Users are authorized to view and use only the resources within their tenant, but can be assigned to multiple tenants.</tooltip>
        </div>
        <div class="right aligned seven wide column">
            <button class="ui primary button" (click)="create()" *verifydom="'admin'">
                <i class="add icon"></i>
                Create Tenant
            </button>
        </div>
    </div>

    <div class="ui row">
        <div class="ui sixteen wide column">

            <ctv-search *ngIf="organizationsListCtrl.organizations" (searchTextChange)="tableRef.showChunk(tableRef.table.pageNo,$event);" [count]="tableRef.count"></ctv-search>

            <div class="ui basic segment ctvTable">
                <div class="ui active inverted dimmer" *ngIf="organizationsListCtrl.showLoader">
                    <div class="ui loader"></div>
                </div>
                <ctv-table #tableRef [defaultSortColumn]="'tenantName'"
                           [items]="organizationsListCtrl.organizations"
                           (filtereditems)="organizationsListCtrl.filteredorganizations=$event"
                           [size]="12">
                    <thead>
                        <tr>
                            <th><ctv-th [sortfield]="'tenantName'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj">Name</ctv-th></th>
                        </tr>
                    </thead>

                    <tbody *ngIf="organizationsListCtrl.organizations">
                        <tr *ngFor="let organization of organizationsListCtrl.filteredorganizations">
                            <td><a [routerLink]="['../details', organization.key]">{{organization.tenantName}}</a></td>
                        </tr>
                    </tbody>

                    <tbody *ngIf="!organizationsListCtrl.organizations">
                        <tr class="noDataFound">
                            <td>No tenants found. Would you like to <a href="javascript: void(0);" (click)="create()">create one?</a></td>
                        </tr>
                    </tbody>

                    <tbody *ngIf="organizationsListCtrl.organizations && !tableRef.count">
                        <tr class="noDataFound"><td>No records matched your filter criteria.</td></tr>
                    </tbody>

                    <tfoot>
                        <tr class="pagination">
                            <td>
                                <ctv-tpagination [chunks]="tableRef.pageChunks"
                                                 (showPage)="tableRef.showChunk($event, tableRef.table.searchText)"
                                                 (prevChunk)="tableRef.showPrevChunk()"
                                                 (nextChunk)="tableRef.showNextChunk()">
                                </ctv-tpagination>
                            </td>
                        </tr>
                    </tfoot>
                </ctv-table>
            </div>

        </div>
    </div>
</div>
