.utilnav{
    position: absolute !important;
    right: 1% !important;;
    top: 9px !important;;
}

.menu.profile{
    width: 180px !important;
    top: 27px !important;
    left: -130px !important;
}

.logo{
    display: inline !important;
    margin-right: 20px !important;
    width: 50px !important;
    height: 47px !important;
}

.productname {
    font-weight: bold !important;
    font-size: 2.6rem !important;
    color: #1c4f81 !important;
    left: -15px !important;
    position: relative !important;
    top: 5px !important;
}