<div class="page header">
    <div class="ui top attached menu mainMenu" align="right">
        <h1 class="header" style="margin-top: 2px; float: left; white-space: nowrap; ">
            <img class="ui image" src="images/cisco_logo.svg" height="30" style="display: inline; margin-right: 20px;"><span class="productname">{{product_name}}</span>
        </h1>
        <div class="utilnav">
            <button type="button" class="circular ui mini icon button"
                    (click)="help()">
                <i class="large help icon"></i>
            </button>
            <button type="button" class="circular ui mini icon button"
                    (click)="logout()">
                <i class="large logout icon"></i>
            </button>
            <button type="button" class="circular ui mini icon button"
                    (click)="account()">
                <i class="large user icon"></i>
            </button>
            <div class="ui dropdown">
                <div class="text">{{username}}</div>
                <i class="large dropdown icon"></i>
                <div class="menu">
                </div>
            </div>
        </div>

    </div>

    <!-- <div [ngStyle]="{'margin-left.px':180,'margin-top.px':30, 'margin-right.px': 30}">
        <router-outlet></router-outlet>
    </div> -->
</div>
<notification></notification>

<div id="sidebar" class="ui visible left vertical sidebar icon labeled menu mainNav">
    <a class="item active" *ngIf="firstRun">
        First Run
    </a>

    <span *ngIf="!firstRun">

        <a class="item" [routerLink]="['dashboard']" routerLinkActive="active">
            Dashboard
        </a>
        
        <a class="item" [routerLink]="['appprofiles']" routerLinkActive="active">
            Application Profiles
        </a>

        <a class="item" [routerLink]="['applicationgroups']" routerLinkActive="active">
            Application Groups
        </a>

        <a class="item" [routerLink]="['networkpolicies']" routerLinkActive="active">
            Network Policies
        </a>

        <a class="item" [routerLink]="['servicelbs']" routerLinkActive="active">
            Service Load Balancers
        </a>

        <a class="item" [routerLink]="['networks']" routerLinkActive="active">
            Networks
        </a>

        <a class="item" [routerLink]="['organizations']" routerLinkActive="active">
            Organizations
        </a>

        <a class="item" [routerLink]="['settings']" routerLinkActive="active" *auth="'SysAdmin'">
            Settings
        </a>
    </span>
    <!-- <a class="white item" ui-sref="contiv.menu.visualization.list()" ui-sref-active="{'active':'contiv.menu.visualization'}">
        <i class="loadbalancer icon"></i>
        App Connectivity Graph
    </a> -->
</div>

<div id="pageContent">
    <router-outlet></router-outlet>
</div>