<ctv-collapsible title="Network Mode">
    <div class="field">
        <label>
            <input type="radio" class="ui radio checkbox"
                   ng-model="extravars['contiv_network_mode']" value="standalone">
            Standalone
        </label>
        <label>
            <input type="radio" class="ui radio checkbox"
                   ng-model="extravars['contiv_network_mode']" value="aci">
            ACI
        </label>
    </div>
    <div ng-if="extravars['contiv_network_mode'] == 'standalone'" class="field">
        <label for="forwardingMode">Forwarding mode</label>
        <select id="forwardingMode" class="ui dropdown"
                ng-model="extravars['fwd_mode']">
            <option value="">-- Please select --</option>
            <option value="bridge">Bridge</option>
            <option value="routing">Routing</option>
        </select>
    </div>
    <div ng-if="extravars['contiv_network_mode'] == 'aci'">
        <div class="field">
            <label for="apicURL">URL</label>
            <input type="text" id="apicURL" name="apicURL"
                   ng-model="extravars['apic_url']"
                   placeholder="Enter URL" required>
        </div>
        <div class="field">
            <label for="apicUserName">User name</label>
            <input type="text" id="apicUserName" name="apicUserName"
                   ng-model="extravars['apic_username']"
                   placeholder="Enter user name" required>
        </div>
        <div class="field">
            <label for="apicPassword">Password</label>
            <input type="password" id="apicPassword" name="apicPassword"
                   ng-model="extravars['apic_password']"
                   placeholder="Enter password" required>
        </div>
        <div class="field">
            <label for="apicLeafNodes">Leaf nodes</label>
            <input type="text" id="apicLeafNodes" name="apicLeafNodes"
                   ng-model="extravars['apic_leaf_nodes']"
                   placeholder="Enter full path of leaf nodes, comma separated" required>
        </div>

        <div class="field">
            <label for="apicPhysicalDomain">Physical domain</label>
            <input type="text" id="apicPhysicalDomain" name="apicPhysicalDomain"
                   ng-model="extravars['apic_phys_domain']"
                   placeholder="Enter physical domain name">
        </div>
        <div class="field">
            <label for="apicBridgeDomain">Bridge domain</label>
            <input type="text" id="apicBridgeDomain" name="apicBridgeDomain"
                   ng-model="extravars['apic_epg_bridge_domain']"
                   placeholder="Enter bridge domain name">
        </div>
        <div class="field">
            <label>
                <input type="checkbox" name="apicContractsUnrestrictedMode" tabindex="0"
                       ng-model="extravars['apic_contracts_unrestricted_mode']">
                Allow unrestricted communication between EPGs
            </label>
        </div>
    </div>
</ctv-collapsible>