<div class="field">
    <label for="scheduler">Scheduler</label>
    <select id="scheduler" class="ui dropdown"
            name="scheduler"
            ng-model="extravars['scheduler_provider']">
        <option value="">-- Please select scheduler --</option>
        <option value="native-swarm">Swarm</option>
        <option value="ucp-swarm">UCP Swarm</option>
    </select>
</div>
<div ng-if="extravars['scheduler_provider'] == 'ucp-swarm'" class="field">
    <label for="ucpBootstrapNodeName">Node name</label>
    <input type="text" id="ucpBootstrapNodeName" name="ucpBootstrapNodeName"
           ng-model="extravars['ucp_bootstrap_node_name']"
           placeholder="Enter node name" required>
</div>