/* app css stylesheet */
td.ctv-header {
    color: grey;
}

tr:nth-child(even) {
    background: #f1fafe
}

td.ctv-wordwrap {
  word-break: break-all;
}

table thead th[sortfield] span{
    cursor: pointer;
}

.headingfontcolor {
    color: #b6b6b8
}

.login{
    /* This image will be displayed fullscreen */
    background: url('images/loginbackground.jpeg') no-repeat center center;

    /* Workaround for some mobile browsers */
    min-height: 100%;

    background-size: cover;
}