<div class="ui accordion">
    <div class="title">
        <i class="dropdown icon" style="margin-left: 20px;"></i>
        <ng-content></ng-content>
    </div>
    <div class="content">
        <table style="margin-left:5.5%">
            <tbody style="border-style: hidden">
            <tr *ngFor="let item of items">
                <td class="ctv-header three column wide">{{item.name}}</td>
                <td *ngIf="item.format=='label'">
                    <div class = "ui label tiny" *ngFor="let selector of item.value" style="margin-top: 2px;">{{selector}}</div>
                </td>
                <td *ngIf="item.format!='label'">{{item.value}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>