<table class="ui very basic unstackable table" style="margin-top: 10px">
    <thead>
    <td>{{nameheader}}</td>
    <td>{{valueheader}}</td>
    </thead>
    <tbody>
    <tr>
        <td>
            <div class="ui input">
                <div ng-switch="type">
                    <input ng-switch-when="text" type="text" ng-model="newItem.name" placeholder="">
                    <select ng-switch-when="select" class="ui dropdown" ng-model="newItem.name">
                        <option ng-repeat="option in options" value="{{option}}">{{option}}</option>
                    </select>
                </div>
            </div>
        </td>
        <td>
            <div class="ui input">
                <input type="text" ng-model="newItem.value" placeholder="">
            </div>
        </td>
        <td>
            <button type="button" class="ui icon button" ng-click="add()">
                <i class="blue add icon"></i>
            </button>
        </td>
    </tr>
    <tr ng-repeat="item in items">
        <td>{{item.name}}</td>
        <td>{{item.value}}</td>
        <td>
            <button type="button" class="ui icon button"
                    ng-click="remove(item)">
                <i class="trash icon"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>