#notificationMessage{
    z-index: 4000;
    position: fixed;
    display: block;
    padding-top: 25px;
    background: #5d5d5d;
    padding-left: 0px;
    padding-right: 40px;
}

#notificationMessage.ready, #notificationMessage.info{
    padding-left: 30px;
    padding-right: 50px;
}

#notificationMessage.minor{
    padding-left: 0px;
    padding-right: 40px;
}

#notificationText #header2, #notificationText p, #notificationText span{
    color: white;
}

.close.icon{
    color:white;
    padding-right: 20px;
}

p{
    font-weight: bold;
}

p.ready, p.info{
    width:400px
}

p.minor{
    width:650px;
}

#notifyIcon{
    position: relative;
    padding-top: 4px;
    top:15%;
    font-size: 3em;
}