.ui.small.message.notify.notification {
    z-index: 4000;
    position: fixed;
    display: block;
    padding-top: 25px;
    background: #5d5d5d;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 1;
    border-radius: 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    box-shadow: 0px 0px 20px #e0e0e0;
}

.ui.small.message.notify.notification .ready, .ui.small.message.notify.notification .notificationMessage .info {
    padding-left: 30px;
    padding-right: 50px;
}

.ui.small.message.notify.notification .minor {
    padding-left: 0px;
    padding-right: 40px;
}

.ui.small.message.notify.notification .notificationMessage {
    color: white;
    font-size: 13px;
}
.ui.small.message.notify.notification .notificationMessage .notificationHeader {
    font-family: CiscoSansRegular;
}
.ui.small.message.notify.notification .notificationMessage .notificationText {
    font-family: CiscoSansExtraLight;
    line-height: 18px;
}

.close.icon{
    color:white;
    padding-right: 20px;
}

#notifyIcon{
    position: relative;
    padding-top: 4px;
    top:15%;
    font-size: 3em;
}

.toast_confirm.icon{
    color: #00c905;
}

.toast_warning.icon{
    color: #F4B400;
}

.toast_info.icon{
    color: #008FCE;
}


#backgroundIcon{
    position: absolute;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    z-index: -1;
    display: block;
    left: 3%;
    top: -21%;
    background-color: white;
}
