<div class="ui basic segment" [ngClass]="{loading: isolationPolicyStatsComp.showLoader}">
    <table>
        <tbody>
        <tr>
            <td class="ctv-header">Name</td>
            <td class="ctv-value">{{isolationPolicyStatsComp['config']['policyName']}}</td>
        </tr>
        <tr>
            <td class="ctv-header">Tenant Name</td>
            <td class="ctv-value">{{isolationPolicyStatsComp['config']['tenantName']}}</td>
        </tr>
        <tr>
            <td class="ctv-header">Number of Endpoints</td>
            <td class="ctv-value">{{isolationPolicyStatsComp.isolationPolicyInspectStats.numEndpoints}}</td>
        </tr>
        </tbody>
    </table>

    <div class="ui section divider"></div>

    <ctv-collapsible title="End Points">

        <ctv-search *ngIf="isolationPolicyStatsComp.endpoints.length" (searchTextChange)="tableRef.showChunk(tableRef.table.pageNo,$event);" [placeholder]=""></ctv-search>

        <ctv-table #tableRef [defaultSortColumn]="'containerName'"
                   [items]="isolationPolicyStatsComp['endpoints']"
                   (filtereditems)="isolationPolicyStatsComp['filteredendpoints']=$event;"
                   [size]="12">
            <thead>
                <tr>
                    <th class="five wide column"><ctv-th [sortfield]="'containerName'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj"> Container Name </ctv-th></th>
                    <th class="five wide column" style="padding-left: 24px !important;"><ctv-th [sortfield]="'ipAddress'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj"> IP Address </ctv-th></th>
                    <th class="six wide column" style="padding-left: 50px !important;"><ctv-th [sortfield]="'homingHost'" (sortdata)="tableRef.applysort($event)" [sortobject]="tableRef.sortObj"> Host </ctv-th></th>
                </tr>
            </thead>

            <tbody *ngIf="isolationPolicyStatsComp.endpoints.length">
                <tr *ngFor="let endpoint of isolationPolicyStatsComp['filteredendpoints']">
                    <td colspan="3" style="padding-left: 0 !important;">
                        <ctv-accordion [items]="isolationPolicyStatsComp['containerDetails'][endpoint.containerID]">
                            <div class="ui grid" style="margin-top: -33px; margin-left: 20px;">
                                <div class="five wide column">{{endpoint.containerName.substr(1)}}</div>
                                <div class="five wide column">{{endpoint.ipAddress.join(' ')}}</div>
                                <div class="five wide column">{{endpoint.homingHost}}</div>
                            </div>
                        </ctv-accordion>
                    </td>
                    <td></td>
                </tr>
            </tbody>

            <tbody *ngIf="!isolationPolicyStatsComp.endpoints.length">
                <tr class="noDataFound"><td colspan="3">No container endpoints found.</td></tr>
            </tbody>

            <tbody *ngIf="isolationPolicyStatsComp.endpoints && isolationPolicyStatsComp.endpoints.length && !tableRef.count">
                <tr class="noDataFound">
                    <td colspan="3">No records matched your filter criteria.
                </tr>
            </tbody>

            <tfoot>
            <tr class="pagination">
                <td colspan="3">
                    <ctv-tpagination [chunks]="tableRef.pageChunks"
                                     (showPage)="tableRef.showChunk($event, tableRef.table.searchText)"
                                     (prevChunk)="tableRef.showPrevChunk()"
                                     (nextChunk)="tableRef.showNextChunk()">

                    </ctv-tpagination>
                </td>
            </tr>
            </tfoot>
        </ctv-table>
    </ctv-collapsible>
</div>