<div class="ui sixteen column grid">
    <div class="thirteen wide column">
        <div class="content" style="font-size: 24px">Nodes</div>
    </div>

    <div class="right floated three wide column">
        <button class="ui blue button" ui-sref="contiv.menu.nodes.discover">
            <i class="add icon"></i>
            Discover Node
        </button>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui active inverted dimmer" ng-show="nodeListCtrl.showLoader">
        <div class="ui loader"></div>
    </div>

    <h4 class="ui header">Cluster</h4>
    <table class="ui very basic selectable table">
        <tbody>
            <tr>
                <td class="ctv-header three wide column">Status</td>
                <!-- Healthy is hardcoded -->
                <td><i class="green up icon"></i>Healthy</i></td>
            </tr>
            <tr>
                <td class="ctv-header three wide column">Last Job</td> 
                <td ui-sref="contiv.menu.nodes.lastlog">
                    job_recent &nbsp&nbsp<i class="file text icon"></i>
                </td>
            </tr>
            <tr>
                <td class="ctv-header three wide column">Active Job</td>
                <td ui-sref="contiv.menu.nodes.activelog">
                    job_active &nbsp&nbsp&nbsp<i class="file text icon"></i>
                </td>
            </tr>
        </tbody>
    </table>    

    <div class="ui section divider"></div>

    <ctv-table items="nodeListCtrl.nodes" filtereditems="nodeListCtrl.filteredNodes" size="12" style="margin-top: 40px">
        <ctv-thead>
            <ctv-tr>
                <ctv-th>Name</ctv-th>
                <ctv-th>Provisioning status</ctv-th>
                <ctv-th>Health status</ctv-th>
                <ctv-th class="right floated three wide column">
                    <ctv-tsearch placeholder="Search nodes..." size="30"></ctv-tsearch>
                </ctv-th>
            </ctv-tr>
        </ctv-thead>

        <ctv-tbody>
            <ctv-tr ng-repeat="node in nodeListCtrl.filteredNodes">
                <ctv-td>
                    <a ui-sref="contiv.menu.nodes.details.info({key:node.key})">{{node.key}}</a>
                </ctv-td>
                <ctv-td>
                    <ctv-nodestatus node="node"></ctv-nodestatus>
                    {{node['inventory_state'].status}}
                </ctv-td>
                <ctv-td>
                    <ctv-nodestate node="node"></ctv-nodestate>
                    <span ng-if="node['inventory_state'].state == 'Discovered'">Up</span>
                    <span ng-if="node['inventory_state'].state == 'Disappeared'">Down</span>
                </ctv-td>
                <ctv-td></ctv-td>
            </ctv-tr>
        </ctv-tbody>

        <ctv-tfoot>
            <ctv-tr>
                <ctv-th colspan="4">
                    <ctv-tpagination></ctv-tpagination>
                </ctv-th>
            </ctv-tr>
        </ctv-tfoot>
    </ctv-table>
</div>