<i ng-if="node['inventory_state'].status == 'Allocated'" class="green check circle icon"></i>
<i ng-if="node['inventory_state'].status == 'Provisioning'" class="loading spinner icon">
    <span class="path1"></span><span class="path2"></span>
</i>
<i ng-if="node['inventory_state'].status == 'Cancelled'" class="loading spinner icon">
    <span class="path1"></span><span class="path2"></span>
</i>
<i ng-if="node['inventory_state'].status == 'Maintenance'" class="loading spinner icon">
    <span class="path1"></span><span class="path2"></span>
</i>
<i ng-if="node['inventory_state'].status == 'Unallocated'" class="red ban icon"></i>
<i ng-if="node['inventory_state'].status == 'Decommissioned'" class="red ban icon"></i>