<ctv-collapsible title="Monitoring State">
    <table class="ui very basic selectable table">
        <tbody>
        <tr>
            <td class="ctv-header three wide column">Label</td>
            <td>{{nodeDetailsCtrl.node['monitoring_state'].label}}</td>
        </tr>
        <tr>
            <td class="ctv-header three wide column">Serial number</td>
            <td>{{nodeDetailsCtrl.node['monitoring_state']['serial_number']}}</td>
        </tr>
        <tr>
            <td class="ctv-header three wide column">Management address</td>
            <td>{{nodeDetailsCtrl.node['monitoring_state']['management_address']}}</td>
        </tr>
        </tbody>
    </table>
</ctv-collapsible>

<div class="ui section divider"></div>

<ctv-collapsible title="BGP">
    <div class="ui basic segment">
        <div class="ui active inverted dimmer" ng-show="nodeDetailsCtrl.showLoader">
            <div class="ui loader"></div>
        </div>
        <div>
            <h4 class="ui header">Neighbors</h4>
            <table class="ui very basic table">
                <thead>
                    <tr>
                        <th>Neighbor IP</th>
                        <th>Admin Status</th>
                        <th>Neighbor Status</th>
                        <th>Number of Routes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- neighbor -->
                        <td>{{nodeDetailsCtrl.inspect.Config['neighbor']}}</td>

                        <!-- admin status -->
                        <td ng-if="nodeDetailsCtrl.inspect.Oper.adminStatus ===
                            'ADMIN_STATE_UP'"><i class="green up icon"></i>Up</td>
                        <td ng-if="nodeDetailsCtrl.inspect.Oper.adminStatus ===
                            'ADMIN_STATE_DOWN'">Down</td>

                        <!-- neighbor status -->
                        <td ng-if="nodeDetailsCtrl.inspect.Oper.neighborStatus === 'BGP_FSM_IDLE'">
                            <i class="red ban icon"></i>Idle
                        </td>
                        <td ng-if="nodeDetailsCtrl.inspect.Oper.neighborStatus === 'BGP_FSM_CONNECT'">
                            <i class="red ban icon"></i>Connect
                        </td>
                        <td ng-if="nodeDetailsCtrl.inspect.Oper.neighborStatus === 'BGP_FSM_ACTIVE'">
                            <i class="red ban icon"></i>Active
                        </td>
                        <td ng-if="nodeDetailsCtrl.inspect.Oper.neighborStatus === 'BGP_FSM_OPENSENT'">
                            <i class="red ban icon"></i>Open sent
                        </td>
                        <td ng-if="nodeDetailsCtrl.inspect.Oper.neighborStatus === 'BGP_FSM_OPENCONFIRM'">
                            <i class="red ban icon"></i>Open confirm
                        </td>
                        <td ng-if="nodeDetailsCtrl.inspect.Oper.neighborStatus ==='BGP_FSM_ESTABLISHED'">
                            <i class="green check icon"></i>Established
                        </td>

                        <!-- number of routes -->
                        <td>{{nodeDetailsCtrl.inspect.Oper.numRoutes}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="ui section divider" style="margin-top: 40px; margin-bottom: 40px"></div>

            <h4 class="ui header">Routes</h4>
            <ctv-table items='nodeDetailsCtrl.routes' filtereditems="nodeDetailsCtrl.filteredroutes">
                <ctv-thead>
                    <ctv-tr>
                        <ctv-th>IP</ctv-th>
                        <ctv-th>Next Hop</ctv-th>
                        <ctv-th>Age</ctv-th>
                        <ctv-th>Attributes</ctv-th>
                        <ctv-th class="right floated three wide column">
                            <ctv-tsearch placeholder="Search routes..." size="30"></ctv-tsearch>
                        </ctv-th>
                    </ctv-tr>
                </ctv-thead>

                <ctv-tbody>
                    <ctv-tr ng-repeat="route in nodeDetailsCtrl.filteredroutes">
                        <ctv-td>{{route}}</ctv-td>
                        <ctv-td></ctv-td>
                        <ctv-td></ctv-td>
                        <ctv-td></ctv-td>
                        <ctv-td></ctv-td>
                    </ctv-tr>
                </ctv-tbody>

                <ctv-tfoot>
                    <ctv-tr>
                        <ctv-th colspan="5">
                            <ctv-tpagination></ctv-tpagination>
                        </ctv-th>
                    </ctv-tr>
                </ctv-tfoot>
            </ctv-table>
        </div>

        <ctv-error ng-show="nodeDetailsCtrl.showServerError" header="Error deleting neighbor"
                   error="nodeDetailsCtrl.serverErrorMessage">
        </ctv-error>
    </div>
</ctv-collapsible>