<div class="ui sixteen column grid">
    <div class="one wide column">
        <a ui-sref="contiv.nodes.list()">
            <i class="arrow left icon"></i>
        </a>
    </div>
    <div class="left floated ten wide column">
        <div class="content" style="font-size: 24px">Nodes (Details)</div>
    </div>
    <div class="right floated five wide column">
        <div id="decommission-node-modal" class="ui small modal">
            <div class="header">Decommission Node: {{nodeDetailsCtrl.node.key}}
            </div>
            <div class="content">
                <p>Are you sure you want to decommission this node?</p>
            </div>
            <div class="actions">
                <div class="ui negative button">No</div>
                <div class="ui positive button" ng-click="nodeDetailsCtrl.decommission()">
                    Yes
                </div>
            </div>
        </div>
        <div id="upgrade-node-modal" class="ui small modal">
            <div class="header">Upgrade Node: {{nodeDetailsCtrl.node.key}}
            </div>
            <div class="content">
                <p>Are you sure you want to upgrade this node?</p>
            </div>
            <div class="actions">
                <div class="ui negative button">No</div>
                <div class="ui positive button" ng-click="nodeDetailsCtrl.upgrade()">
                    Yes
                </div>
            </div>
        </div>

        <button ng-if="!nodeDetailsCtrl.showCommissionButton && nodeDetailsCtrl.commissionButtonEnabled"
                class="ui basic button"
                onclick="$('#decommission-node-modal').modal('show')">
            <i class="remove icon"></i>
            Decommission
        </button>
        <button ng-if="!nodeDetailsCtrl.showCommissionButton && !nodeDetailsCtrl.commissionButtonEnabled"
                class="ui disabled button"
                onclick="$('#decommission-node-modal').modal('show')">
            <i class="remove icon"></i>
            Decommission
        </button>

        <button ng-if="nodeDetailsCtrl.showCommissionButton && nodeDetailsCtrl.commissionButtonEnabled"
                class="ui basic button"
                ui-sref="contiv.nodes.commission({key:nodeDetailsCtrl.node.key})">
            <i class="checkmark icon"></i>
            Commission
        </button>
        <button ng-if="nodeDetailsCtrl.showCommissionButton && !nodeDetailsCtrl.commissionButtonEnabled"
                class="ui disabled button"
                ui-sref="contiv.nodes.commission({key:nodeDetailsCtrl.node.key})">
            <i class="checkmark icon"></i>
            Commission
        </button>

        <button ng-if="nodeDetailsCtrl.upgradeButtonEnabled"
                class="ui basic button" onclick="$('#upgrade-node-modal').modal('show')">
            <i class="refresh icon"></i>
            Upgrade
        </button>
        <button ng-if="!nodeDetailsCtrl.upgradeButtonEnabled"
                class="ui disabled button" onclick="$('#upgrade-node-modal').modal('show')">
            <i class="refresh icon"></i>
            Upgrade
        </button>
    </div>
</div>
<div class="ui secondary pointing menu">
    <div class="ui container">
        <a class="blue item" ui-sref="contiv.nodes.details.info({key:nodeDetailsCtrl.node.key})" ui-sref-active="active">
            <i class="sidebar icon"></i>
            DETAILS
        </a>
        <a class="blue item" ui-sref="contiv.nodes.details.logs({key:nodeDetailsCtrl.node.key})" ui-sref-active="active">
            <i class="file text outline icon"></i>
            LOGS
        </a>
        <a class="blue item" ui-sref="contiv.nodes.details.stats({key:nodeDetailsCtrl.node.key})" ui-sref-active="active">
            <i class="area chart icon"></i>
            STATS
        </a>

    </div>
</div>

<div ui-view style="margin-top:30px"></div>