<div class="ui sixteen column grid">
    <div class="thirteen wide column">
        <div class="content" style="font-size: 24px">Nodes</div>
    </div>

    <div class="right floated three wide column">
        <button class="ui blue button" ui-sref="contiv.nodes.discover">
            <i class="add icon"></i>
            Discover Node
        </button>
    </div>
</div>
<div class="ui basic segment">
    <div class="ui active inverted dimmer" ng-show="nodeListCtrl.showLoader">
        <div class="ui loader"></div>
    </div>
    <ctv-table items="nodeListCtrl.nodes" filtereditems="nodeListCtrl.filteredNodes" size="12" style="margin-top: 40px">
        <ctv-thead>
            <ctv-tr>
                <ctv-th>Name</ctv-th>
                <ctv-th class="right floated three wide column">
                    <ctv-tsearch placeholder="Search nodes..." size="30"></ctv-tsearch>
                </ctv-th>
            </ctv-tr>
        </ctv-thead>

        <ctv-tbody>
            <ctv-tr ng-repeat="node in nodeListCtrl.filteredNodes">
                <ctv-td>
                    <i ng-if="node['inventory-state'].status == 'Allocated'" class="green check circle icon"></i>
                    <i ng-if="node['inventory-state'].status != 'Allocated'" class="grey ban icon"></i>
                    <a ui-sref="contiv.nodes.details.info({key:node.key})">{{node.key}}</a>
                </ctv-td>
                <ctv-td></ctv-td>
            </ctv-tr>
        </ctv-tbody>

        <ctv-tfoot>
            <ctv-tr>
                <ctv-th colspan="2">
                    <ctv-tpagination></ctv-tpagination>
                </ctv-th>
            </ctv-tr>
        </ctv-tfoot>
    </ctv-table>
</div>