<ctv-collapsible title="Inventory State">
    <table class="ui very basic selectable table">
        <tbody>
        <tr>
            <td class="ctv-header three wide column">Name</td>
            <td>{{nodeDetailsCtrl.node['inventory_state'].name}}</td>
        </tr>
        <tr>
            <td class="ctv-header three wide column">Status</td>
            <td>
                <ctv-nodestatus node="nodeDetailsCtrl.node"></ctv-nodestatus>
                {{nodeDetailsCtrl.node['inventory_state'].status}}
            </td>
        </tr>
        <tr>
            <td class="ctv-header three wide column">Previous status</td>
            <td>{{nodeDetailsCtrl.node['inventory_state']['prev_status']}}</td>
        </tr>
        <tr>
            <td class="ctv-header three wide column">State</td>
            <td>
                <ctv-nodestate node="nodeDetailsCtrl.node"></ctv-nodestate>
                {{nodeDetailsCtrl.node['inventory_state'].state}}
            </td>
        </tr>
        <tr>
            <td class="ctv-header three wide column">Previous state</td>
            <td>{{nodeDetailsCtrl.node['inventory_state']['prev_state']}}</td>
        </tr>
        </tbody>
    </table>
</ctv-collapsible>

<div class="ui section divider"></div>

<ctv-collapsible title="Configuration State">
    <table class="ui very basic selectable table">
        <tbody>
        <tr>
            <td class="ctv-header three wide column">Inventory name</td>
            <td>{{nodeDetailsCtrl.node['configuration_state']['inventory_name']}}</td>
        </tr>
        <tr>
            <td class="ctv-header three wide column">Host group</td>
            <td>{{nodeDetailsCtrl.node['configuration_state']['host_group']}}</td>
        </tr>
        <tr>
            <td class="ctv-header three wide column">SSH address</td>
            <td>{{nodeDetailsCtrl.node['configuration_state']['ssh_address']}}</td>
        </tr>
        <tr>
            <td class="ctv-header three wide column">Node address</td>
            <td>{{nodeDetailsCtrl.node['configuration_state']['inventory_vars']['node_addr']}}</td>
        </tr>
        <tr>
            <td class="ctv-header three wide column">Node name</td>
            <td>{{nodeDetailsCtrl.node['configuration_state']['inventory_vars']['node_name']}}</td>
        </tr>
        </tbody>
    </table>
</ctv-collapsible>

<div class="ui section divider"></div>

<ctv-collapsible title="BGP">
    <div ng-switch="nodeDetailsCtrl.mode">
        <button ng-switch-when="edit" class="ui disabled button" style="float: right"
                ui-sref="contiv.menu.nodes.details.edit()">
            <i class="edit icon"></i>
            Edit
        </button>
        <button ng-switch-when="details" class="ui basic button" style="float: right"
                ui-sref="contiv.menu.nodes.details.edit()">
            <i class="edit icon"></i>
            Edit
        </button>

        <div ng-switch-when="details" >
            <table class="ui very basic table">
            <tr>
                <td class="ctv-header three wide column">Host name</td>
                <td>{{nodeDetailsCtrl.neighbor['hostname'] }}<td>
            </tr>
            <tr>
                <td class="ctv-header three wide column">Router IP</td>
                <td>{{nodeDetailsCtrl.neighbor['routerip'] }}<td>
            </tr>
            <tr>
                <td class="ctv-header three wide column">Autonomous system</td>
                <td>{{nodeDetailsCtrl.neighbor['as'] }}<td>
            </tr>
            </table>

            <h4 class="ui header">Neighbors</h4>
            <ctv-table>
                <ctv-thead>
                    <ctv-tr>
                        <ctv-th>Neighbor IP</ctv-th>
                        <ctv-th>Neighbor Autonomous System</ctv-th>
                    </ctv-tr>
                </ctv-thead>

                <ctv-tbody>
                    <ctv-tr ng-repeat="n in nodeDetailsCtrl.neighbors">
                        <ctv-td>{{n.name}}</ctv-td>
                        <ctv-td>{{n.value}}</ctv-td>
                    </ctv-tr>
                </ctv-tbody>

                <ctv-tfoot>
                    <ctv-tr>
                        <ctv-th colspan="5">
                            <ctv-tpagination></ctv-tpagination>
                        </ctv-th>
                    </ctv-tr>
                </ctv-tfoot>
            </ctv-table>
        </div>

        <div ng-switch-when="edit">
            <form class="ui form" name="nodeDetailsCtrl.form" role="form"
                ng-submit="nodeDetailsCtrl.updateBgpInfo()" novalidate>
                <div class="field">
                    <div ng-show="nodeDetailsCtrl.form.$submitted">
                        <div ng-hide="nodeDetailsCtrl.form.$valid" class="ui negative message">
                            <ul class="list">
                                <li ng-show="nodeDetailsCtrl.form.newHostname.$error.required">
                                    Please enter host name
                                </li>
                                <li ng-show="nodeDetailsCtrl.form.newRouterIP.$error.required">
                                    Please enter router IP
                                </li>
                                <li ng-show="nodeDetailsCtrl.form.newAS.$error.required">
                                    Please enter autonomous system
                                </li>
                                <li ng-show="nodeDetailsCtrl.form.newAS.$error.pattern">
                                    Please enter a number for autonomous system
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label for="newHostname">Host name</label>
                    <input type="text" id="newHostname" name="newHostname"
                            ng-model="nodeDetailsCtrl.neighbor['hostname']"
                            placeholder="Enter host name" required>
                </div>

                <div class="field">
                    <label for="newRouterIP">Router IP</label>
                    <input type="text" id="newRouterIP" name="newRouterIP"
                            ng-model="nodeDetailsCtrl.neighbor['routerip']"
                            placeholder="Enter router IP" required>
                </div>

                <div class="field">
                    <label for="newAS">Autonomous system</label>
                    <input type="text" id="newAS" name="newAS"
                            ng-model="nodeDetailsCtrl.neighbor['as']"
                            placeholder="Enter autonomous system"
                            ng-pattern="nodeDetailsCtrl.numberpattern" required>
                </div>

                <!-- back end currently only supports adding one neighbor -->
                <h4 class="ui header" style="margin-top: 40px">Neighbors</h4>
                <ctv-namevalue items="nodeDetailsCtrl.neighbors" nameheader="Neighbor IP"
                    valueheader="Neighbor Autonomous System"></ctv-namevalue>

                <div class="ui sixteen column grid">
                    <div class="right floated three wide column">
                        <button type="button" class="ui basic button" ng-click="nodeDetailsCtrl.returnToInfo()">
                            Cancel
                        </button>
                        <button type="submit" class="ui blue button">
                            Save
                        </button>
                    </div>
                </div>
                <ctv-error ng-show="nodeDetailsCtrl.showServerError"
                       header="Error editing bgp"
                       error="nodeDetailsCtrl.serverErrorMessage">
                </ctv-error>
            </form>
        </div>
    </div>
</ctv-collapsible>
