<div ui-view class="ui container">
    <div class="ui nine column grid">
        <div class="three wide column">
            <h4 class="ui header">Nodes</h4>
        </div>

        <div class="six wide column">
            <button class="ui blue button" ui-sref="contiv.nodes.discover">
                <i class="add icon"></i>
                Discover node
            </button>
        </div>
    </div>
    <table class="ui very basic unstackable table" style="margin-top: 40px">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="node in nodeListCtrl.nodes">
            <td>
                <i ng-if="node['inventory-state'].status == 'Allocated'" class="green check circle icon"></i>
                <i ng-if="node['inventory-state'].status != 'Allocated'" class="red check circle icon"></i>
                <a ui-sref="contiv.nodes.details.info({key:node.key})">{{node.key}}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>