<form class="ui form" name="clusterSettingCtrl.form" role="form" #clusterSettingsForm="ngForm"
      (submit)="clusterSettingCtrl.updateClusterSettings(clusterSettingsForm.valid)" novalidate>
    <div class="ui active inverted dimmer" *ngIf="clusterSettingCtrl.showLoader">
        <div class="ui loader"></div>
    </div>
    <div class="field">
        <div *ngIf="clusterSettingsForm.submitted">
            <div [hidden]="clusterSettingsForm.valid" class="ui negative message">
                <ul class="list">
                    <li *ngIf="controlInterface.errors?.required">
                        Please enter control interface
                    </li>
                    <!--Node commissioning related validation -->
                    <li *ngIf="serviceVIP.errors?.required">
                        Please enter virtual IP address for cluster services
                    </li>
                    <li *ngIf="dataInterface.errors?.required">
                        Please enter data interface
                    </li>
                    <li *ngIf="ucpBootstrapNodeName?.errors?.required">
                            Please enter node name
                    </li>
                    <!-- APIC settings validation, part of commissioning node -->
                    <li *ngIf="apicURL?.errors?.required">
                        Please enter URL for APIC
                    </li>
                    <li *ngIf="apicUserName?.errors?.required">
                        Please enter user name for APIC
                    </li>
                    <li *ngIf="apicPassword?.errors?.required">
                        Please enter password for APIC
                    </li>
                    <li *ngIf="apicLeafNodes?.errors?.required">
                        Please enter leaf nodes for APIC
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="field">
        <label for="controlInterface">Control interface</label>
        <input type="text" id="controlInterface" name="controlInterface"
               [(ngModel)]="extra_vars['control_interface']"
               placeholder="Enter control interface" required #controlInterface="ngModel">
    </div>
    <div class="field" style="margin-top: 15px">
        <label for="dataInterface">Data interface</label>
        <input type="text" id="dataInterface" name="dataInterface"
               [(ngModel)]="clusterSettingCtrl.extra_vars['netplugin_if']"
               placeholder="Enter data interface" required #dataInterface="ngModel">
    </div>
    <div class="field">
        <label for="serviceVIP">Virtual IP address for cluster services</label>
        <input type="text" id="serviceVIP" name="serviceVIP"
               [(ngModel)]="clusterSettingCtrl.extra_vars['service_vip']"
               placeholder="Enter virtual IP address" required #serviceVIP="ngModel">
    </div>
    <div class="field">
        <label for="scheduler">Scheduler</label>
        <select id="scheduler" class="ui dropdown"
                name="scheduler"
                [(ngModel)]="extra_vars['scheduler_provider']">
            <option value="">-- Please select scheduler --</option>
            <option value="native-swarm">Swarm</option>
            <option value="ucp-swarm">UCP Swarm</option>
        </select>
    </div>
    <div *ngIf="extra_vars['scheduler_provider'] == 'ucp-swarm'" class="field">
        <label for="ucpBootstrapNodeName">Node name</label>
        <input type="text" id="ucpBootstrapNodeName" name="ucpBootstrapNodeName"
               [(ngModel)]="extra_vars['ucp_bootstrap_node_name']"
               placeholder="Enter node name" #ucpBootstrapNodeName="ngModel" required>
    </div>
    <div class="field" style="margin-top: 15px">
        <label for="clusterName">Cluster name</label>
        <input type="text" id="clusterName" name="clusterName"
               [(ngModel)]="clusterSettingCtrl.extra_vars['cluster_name']"
               placeholder="Enter cluster name">
    </div>
    <div class="ui section divider"></div>
    <ctv-collapsible title="Network Mode">
        <div class="field">
            <label>
                <input type="radio" class="ui radio checkbox" name="contivnetworkmode"
                       [(ngModel)]="extra_vars['contiv_network_mode']" value="standalone">
                Standalone
            </label>
            <label>
                <input type="radio" class="ui radio checkbox" name="contivnetworkmode"
                       [(ngModel)]="extra_vars['contiv_network_mode']" value="aci">
                ACI
            </label>
        </div>
        <div *ngIf="extra_vars['contiv_network_mode'] == 'standalone'" class="field">
            <label for="forwardingMode">Forwarding mode</label>
            <select id="forwardingMode" class="ui dropdown"
                    [(ngModel)]="extra_vars['fwd_mode']" name="fwdMode">
                <option value="">-- Please select --</option>
                <option value="bridge">Bridge</option>
                <option value="routing">Routing</option>
            </select>
        </div>
        <div *ngIf="extra_vars['contiv_network_mode'] == 'aci'">
            <div class="field">
                <label for="apicURL">URL</label>
                <input type="text" id="apicURL" name="apicURL"
                       [(ngModel)]="extra_vars['apic_url']"
                       placeholder="Enter URL" required #apicURL="ngModel">
            </div>
            <div class="field">
                <label for="apicUserName">User name</label>
                <input type="text" id="apicUserName" name="apicUserName"
                       [(ngModel)]="extra_vars['apic_username']"
                       placeholder="Enter user name" required #apicUserName="ngModel">
            </div>
            <div class="field">
                <label for="apicPassword">Password</label>
                <input type="password" id="apicPassword" name="apicPassword"
                       [(ngModel)]="extra_vars['apic_password']"
                       placeholder="Enter password" required #apicPassword="ngModel">
            </div>
            <div class="field">
                <label for="apicLeafNodes">Leaf nodes</label>
                <input type="text" id="apicLeafNodes" name="apicLeafNodes"
                       [(ngModel)]="extra_vars['apic_leaf_nodes']"
                       placeholder="Enter full path of leaf nodes, comma separated" required #apicLeafNodes="ngModel">
            </div>

            <div class="field">
                <label for="apicPhysicalDomain">Physical domain</label>
                <input type="text" id="apicPhysicalDomain" name="apicPhysicalDomain"
                       [(ngModel)]="extra_vars['apic_phys_domain']"
                       placeholder="Enter physical domain name">
            </div>
            <div class="field">
                <label for="apicBridgeDomain">Bridge domain</label>
                <input type="text" id="apicBridgeDomain" name="apicBridgeDomain"
                       [(ngModel)]="extra_vars['apic_epg_bridge_domain']"
                       placeholder="Enter bridge domain name">
            </div>
            <div class="field">
                <label>
                    <input type="checkbox" name="apicContractsUnrestrictedMode" tabindex="0"
                           [(ngModel)]="extra_vars['apic_contracts_unrestricted_mode']" name="apicContractsUnrestrictedMode">
                    Allow unrestricted communication between EPGs
                </label>
            </div>
        </div>
    </ctv-collapsible>
    <div class="ui section divider"></div>

    <ctv-collapsible title="Ansible Variables">
        <ctv-namevalue [items]="clusterSettingCtrl.ansibleVariables" (itemsChange)="clusterSettingCtrl.ansibleVariables=$event"></ctv-namevalue>
    </ctv-collapsible>
    <div class="ui section divider"></div>
    <ctv-collapsible title="Environment Variables">
        <ctv-namevalue [items]="clusterSettingCtrl.envVariables" (itemsChange)="clusterSettingCtrl.envVariables=$event"></ctv-namevalue>
    </ctv-collapsible>
    <ctv-error *ngIf="clusterSettingCtrl.showServerError" [header]="'Error updating cluster settings'" [error]="clusterSettingCtrl.serverErrorMessage">
    </ctv-error>

    <div class="ui grid">
        <div class="right aligned sixteen wide column">
            <div style="margin-top: 40px">
                <button type="submit" class="ui blue button">
                      Update Cluster Settings
                </button>
            </div>
        </div>
    </div>
</form>