<form class="ui form" name="clusterSettingCtrl.form" role="form"
      ng-submit="clusterSettingCtrl.updateClusterSettings()" novalidate>
    <div class="ui active inverted dimmer" ng-show="clusterSettingCtrl.showLoader">
        <div class="ui loader"></div>
    </div>
    <div class="field">
        <div ng-show="clusterSettingCtrl.form.$submitted">
            <div ng-hide="clusterSettingCtrl.form.$valid" class="ui negative message">
                <ul class="list">
                    <li ng-show="clusterSettingCtrl.form.controlInterface.$error.required">
                        Please enter control interface
                    </li>

                    <!--Node commissioning related validation -->
                    <li ng-show="clusterSettingCtrl.form.serviceVIP.$error.required">
                        Please enter virtual IP address for cluster services
                    </li>
                    <li ng-show="clusterSettingCtrl.form.dataInterface.$error.required">
                        Please enter data interface
                    </li>
                    <li ng-show="clusterSettingCtrl.form.ucpBootstrapNodeName.$error.required">
                        Please enter node name
                    </li>
                    <ctv-acivalid form="clusterSettingCtrl.form"></ctv-acivalid>
                </ul>
            </div>
        </div>
    </div>
    <ctv-controlinterface extravars="clusterSettingCtrl.extra_vars"></ctv-controlinterface>
    <div class="field" style="margin-top: 15px">
        <label for="dataInterface">Data interface</label>
        <input type="text" id="dataInterface" name="dataInterface"
               ng-model="clusterSettingCtrl.extra_vars['netplugin_if']"
               placeholder="Enter data interface" required>
    </div>
    <div class="field">
        <label for="serviceVIP">Virtual IP address for cluster services</label>
        <input type="text" id="serviceVIP" name="serviceVIP"
               ng-model="clusterSettingCtrl.extra_vars['service_vip']"
               placeholder="Enter virtual IP address" required>
    </div>
    <ctv-scheduler ctrl="clusterSettingCtrl" extravars="clusterSettingCtrl.extra_vars"></ctv-scheduler>
    <div class="field" style="margin-top: 15px">
        <label for="clusterName">Cluster name</label>
        <input type="text" id="clusterName" name="clusterName"
               ng-model="clusterSettingCtrl.extra_vars['cluster_name']"
               placeholder="Enter cluster name">
    </div>
    <div class="ui section divider"></div>
    <ctv-networkmode extravars="clusterSettingCtrl.extra_vars"></ctv-networkmode>
    <div class="ui section divider"></div>

    <ctv-collapsible title="Ansible Variables">
        <ctv-namevalue items="clusterSettingCtrl.ansibleVariables"></ctv-namevalue>
    </ctv-collapsible>
    <div class="ui section divider"></div>
    <ctv-collapsible title="Environment Variables">
        <ctv-namevalue items="clusterSettingCtrl.envVariables"></ctv-namevalue>
    </ctv-collapsible>

    <div class="ui grid">
        <div class="right aligned sixteen wide column">
            <div style="margin-top: 40px">
                <button type="submit" class="ui blue button">
                      Update Cluster Settings
                </button>
            </div>
        </div>
    </div>
    <ctv-error ng-show="clusterSettingCtrl.showServerError" header="Error updating cluster settings" error="clusterSettingCtrl.serverErrorMessage">
    </ctv-error>
</form>
