<div class="ui basic segment">
    <div class="ui active inverted dimmer" *ngIf="showLoader">
        <div class="ui loader"></div>
    </div>

    <div><h4 class="ui header">Global Operational State</h4></div>
    <table class="ui very basic selectable table">
        <tbody>
        <tr>
            <td class="ctv-header three wide column key">Number of Networks</td>
            <td class="value">{{globalInspectStats.numNetworks}}</td>
        </tr>
        <tr>
            <td class="ctv-header three wide column key">vlans in use</td>
            <td class="value">{{globalInspectStats.vlansInUse}}</td>
        </tr>
        <tr>
            <td class="ctv-header three wide column key">vxlans in use</td>
            <td class="value">{{globalInspectStats.vxlansInUse}}</td>
        </tr>
        <tr>
            <td class="ctv-header three wide column key">Free vxlans start</td>
            <td class="value">{{globalInspectStats.freeVXLANsStart}}</td>
        </tr>
        <tr>
            <td class="ctv-header three wide column key">Default Network</td>
            <td class="value">{{globalInspectStats.defaultNetwork}}</td>
        </tr>
        </tbody>
    </table>

    <ctv-collapsible [title]="'Network Defaults'">
        <networksettingcomp [firstRunWiz]="false" (updateNetDef)="updateNetworkSettings($event)" [setting]="setting"></networksettingcomp>
    </ctv-collapsible>

    <ctv-collapsible [title]="'ACI Settings'">
        <acisettingcomp [firstRunWiz]="false" (updateAciDef)="updateAciSetting($event)" [setting]="aciSetting"></acisettingcomp>
    </ctv-collapsible>

</div>

<ctv-error *ngIf="showServerError" header="Error updating settings" [error]="serverErrorMessage">
</ctv-error>
