<form class="ui form" role="form" #formRef="ngForm"
      (ngSubmit)="updateVolumeSettings(formRef.valid)" novalidate>
    <div class="ui active inverted dimmer" *ngIf="showLoader">
        <div class="ui loader"></div>
    </div>

    <div class="field">
        <label for="timeout">Timeout</label>
        <input type="number" id="timeout" name="timeout" [(ngModel)]="setting.Timeout" placeholder="10">
    </div>
    <div class="field">
        <label for="ttl">Time to Live (TTL)</label>
        <input type="number" id="ttl" name="ttl" [(ngModel)]="setting.TTL" placeholder="30">
    </div>
    <div class="field">
        <label for="mountpath">Mount Path</label>
        <input type="text" id="mountpath" name="mountpath" [(ngModel)]="setting.MountPath" placeholder="/mnt/ceph" required>
    </div>
    <div class="field">
        <div class="ui checkbox">
            <input type="checkbox" name="debug" tabindex="0" [(ngModel)]="setting.Debug">
            <label>Debug</label>
        </div>
    </div>

    <div class="ui grid">
        <div class="right aligned sixteen wide column">
            <div style="margin-top: 40px">
                <button type="submit" class="ui blue button">
                    Update Volume Settings
                </button>
            </div>
        </div>
    </div>
    <ctv-error *ngIf="showServerError" header="Error updating volume settings" [error]="serverErrorMessage">
    </ctv-error>
</form>
