<div class="ui middle aligned center aligned grid container">
    <div class="column copyright">

        <form id="loginForm" name="loginForm" class="ui form" role="form"
              (submit)="login()" novalidate #loginForm="ngForm">
            <div class="ui active inverted dimmer" *ngIf="loginCtrl.showLoader">
                <div class="ui loader"></div>
            </div>

            <div class="login-seg" style="margin-top: 180px; background-color: white; padding: 20px; ">
                <h1 class="header" style="margin-left:6px; margin-right:auto;">
                    <img class="ui image" src="images/cisco_logo.svg" height="30" style="display:inline;">
                    <br>
                    <span class="productname">{{product_name}}</span>
                </h1>


                <div class="field" [ngClass]="{'error': showServerError}">
                    <input type="text" id="username" name="username" [(ngModel)]="loginCtrl.username"
                           placeholder="User Name" required>
                </div>
                <div class="field" [ngClass]="{'error': showServerError}">
                    <input type="password" id="password" name="password" [(ngModel)]="loginCtrl.password"
                           placeholder="Password" required>
                </div>
                <div class="field">
                    <div align="center">
                        <span *ngIf="showServerError" style="color: red">Incorrect user name or password. Please try again.</span>
                    </div>
                </div>

                <div align="center">
                    <button *ngIf="loginForm.valid" class="ui fluid blue button primaryBtn" style="width: 100%">
                        Log In
                    </button>
                    <button *ngIf="!loginForm.valid" class="ui disabled button" style="width: 100%">
                        Log In
                    </button>
                </div>

                <div class="center">
                    <div class="copyright">
                        Copyright (c) 2016 Cisco Systems, Inc. All rights reserved.
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>