<div class="ui sixteen column grid">
    <div class="ui row pageHeader">
        <div class="left aligned eight wide column">
            <div class="content pageTitle">Create ACI Application Profile</div>
        </div>
        <div class="right aligned eight wide column">&nbsp;</div>
    </div>
    <div class="ui row breadcrumbRow">
        <div class="ui sixteen wide column">
            <div class="breadcrumbs">
                <span class="crumb">
                    <a href="/#/m/appprofiles">
                        ACI Application Profiles List
                    </a>
                </span>
                <span class="crumb">Create</span>
            </div>
        </div>
    </div>

    <div class="ui row">
        <div class="ui sixteen wide column">
            <form class="ui form" role="form"
                  (submit)="createAppProfile(formRef.valid)" novalidate #formRef="ngForm">

                <div class="ui active inverted dimmer" *ngIf="showLoader">
                    <div class="ui loader"></div>
                </div>

                <div class="ui basic segment">
                    <div class="ui grid">
                        <div class="ui row">
                            <div class="ui six wide column field">
                                <div *ngIf="formRef.submitted">
                                    <div [hidden]="formRef.valid" class="ui negative message">
                                        <ul class="list">
                                            <li *ngIf="newAppProfileName.errors?.required">Please enter
                                                application profile name
                                            </li>
                                            <li *ngIf="newAppProfileTenantRef.errors?.required">
                                                Please select tenant
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui row">
                            <div class="left aligned six wide column">
                                <div class="field">
                                    <label for="newAppProfileName">Application profile name</label>
                                    <input type="text" id="newAppProfileName" name="newAppProfileName"
                                           [(ngModel)]="newAppProfile.appProfileName"
                                           placeholder="Enter name" required #newAppProfileName="ngModel">
                                </div>
                            </div>
                        </div>
                        <div class="ui row">
                            <div class="left aligned six wide column">
                                <div class="field">
                                    <label for="newAppProfileTenant">Tenant</label>
                                    <select id="newAppProfileTenant" class="ui dropdown"
                                            name="newAppProfileTenant"
                                            ngModel
                                            (change)="updateTenant($event.target.value, appGroupSelRef)"
                                            required #newAppProfileTenantRef="ngModel">
                                        <option value="">-- Select a tenant --</option>
                                        <option *ngFor="let tenant of tenants" [value]="tenant.tenantName">
                                            {{tenant.tenantName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ctv-appgroupselection mode="edit" [appProfile]="newAppProfile"
                                           #appGroupSelRef></ctv-appgroupselection>

                    <div class="ui grid">
                        <div class="right aligned sixteen wide column buttonRow">

                            <button type="button" class="ui large button cancelBtn" (click)="cancelCreating()">
                                Cancel
                            </button>
                            <button type="submit" class="ui blue large button primaryBtn">
                                Create Profile
                            </button>

                        </div>
                    </div>

                    <ctv-error *ngIf="showServerError" header="Error creating application profile"
                               [error]="serverErrorMessage">
                    </ctv-error>
                </div>
            </form>
        </div>
    </div>

</div>
