<form class="ui form" role="form" #formRef="ngForm"
      (ngSubmit)="updateNetworkSettings(formRef.valid)" novalidate>
    <div class="field">
        <div *ngIf="formRef.submitted">
            <div *ngIf="!formRef.valid" class="ui negative message">
                <ul class="list">
                    <li *ngIf="networkInfrastructureRef.errors?.required">
                        Please enter network infrastructure type
                    </li>
                    <li *ngIf="allowedVlanRangeRef.errors?.required">
                        Please enter allowed vlan range
                    </li>
                    <li *ngIf="allowedVxlanRangeRef.errors?.required">
                        Please enter allowed vxlan range
                    </li>
                    <li *ngIf="forwardingmodeRef.errors?.required">
                        Please enter forwarding mode
                    </li>
                    <li *ngIf="allowedVlanRangeRef.errors?.pattern">
                        Please enter vlan in range in the correct notation
                    </li>
                    <li *ngIf="allowedVxlanRangeRef.errors?.pattern">
                        Please enter vxlan in range in the correct notation
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="field">
        <label for="networkInfrastructure">Network infrastructure type</label>
        <select #networkInfrastructureRef="ngModel"
                id="networkInfrastructure"
                name="networkInfrastructure"
                class="ui dropdown"
                [(ngModel)]="setting['networkInfraType']" required>
            <option value="">-- Please select network infrastructure type --</option>
            <option value="default">default</option>
            <option value="aci">aci</option>
        </select>
    </div>
    <div class="field">
        <label for="allowedVlanRange">Allowed vlan range</label>
        <input #allowedVlanRangeRef="ngModel"
               type="text"
               id="allowedVlanRange"
               name="allowedVlanRange"
               [(ngModel)]="setting['vlans']" placeholder="1-4094" required [pattern]="vlanPattern">
    </div>
    <div class="field">
        <label for="allowedVxlanRange">Allowed vxlan range</label>
        <input #allowedVxlanRangeRef="ngModel"
               type="text"
               id="allowedVxlanRange"
               name="allowedVxlanRange"
               [(ngModel)]="setting['vxlans']" placeholder="1-10000" required [pattern]="vxlanPattern">
    </div>
    <div class="field">
        <label for="forwardingmode">Forwarding mode</label>
        <select #forwardingmodeRef="ngModel"
                id="forwardingmode"
                name="forwardingmode"
                class="ui dropdown"
                [(ngModel)]="setting['fwdMode']" required>
            <option value="">-- Please select the network forwarding mode --</option>
            <option value="bridge">bridge</option>
            <option value="routing">routing</option>
        </select>
    </div>

    <div class="ui grid">
        <div class="left floated left aligned eight wide column">
            <div style="margin-top: 40px">
                <button type="button" class="ui blue button" (click)="backTriggered.emit()" *ngIf="firstRunWiz">
                    Back
                </button>
            </div>
        </div>
        <div class="right floated right aligned eight wide column">
            <div style="margin-top: 40px">
                <button type="submit" class="ui blue button" *ngIf="!firstRunWiz">
                    Update Network Settings
                </button>
                <button type="submit" class="ui blue button" *ngIf="firstRunWiz">
                    Next
                </button>
            </div>
        </div>
    </div>
</form>