<ctv-collapsible title="Read Write Operations Settings">
    <div class="field">
        <label for="newStoragePolicyWriteIops">write-iops</label>
        <input type="number" id="newStoragePolicyWriteIops" name="newStoragePolicyWriteIops"
               ng-model="policy.runtime['rate-limit']['write-iops']"
               placeholder="">
    </div>
    <div class="field">
        <label for="newStoragePolicyReadIops">read-iops</label>
        <input type="number" id="newStoragePolicyReadIops" name="newStoragePolicyReadIops"
               ng-model="policy.runtime['rate-limit']['read-iops']"
               placeholder="">
    </div>
    <div class="field">
        <label for="newStoragePolicyWriteBps">write-bps</label>
        <input type="number" id="newStoragePolicyWriteBps" name="newStoragePolicyWriteBps"
               ng-model="policy.runtime['rate-limit']['write-bps']"
               placeholder="">
    </div>
    <div class="field">
        <label for="newStoragePolicyReadBps">read-bps</label>
        <input type="number" id="newStoragePolicyReadBps" name="newStoragePolicyReadBps"
               ng-model="policy.runtime['rate-limit']['read-bps']" placeholder="">
    </div>
</ctv-collapsible>