<div class="ui sixteen column grid">
    <div class="ui row pageHeader">
        <div class="left aligned eight wide column">
            <div class="content pageTitle">{{networkDetailsCtrl.network.networkName}}</div>
        </div>

        <div class="right aligned eight wide column">
            <button class="ui basic button" (click)="returnToNetworks()">
                Close
            </button>
            <button class="ui secondary button" onclick="$('#delete-network-modal').modal('show')">
                <i class="trash icon"></i>
                Remove
            </button>
        </div>
    </div>

    <div class="ui row breadcrumbRow">
        <div class="ui sixteen wide column">
            <div class="breadcrumbs">
                <span class="crumb">
                    <a href="/#/m/networks/list">
                        Networks
                    </a>
                </span>
                <span class="crumb">{{networkDetailsCtrl.network.networkName}}</span>
            </div>
        </div>
    </div>

    <div class="ui row">
        <div class="ui sixteen wide column">

            <div class="right aligned three wide column">
                <div id="delete-network-modal" class="ui small modal">
                    <div class="header">Delete</div>
                    <div class="content">
                        <p>Are you sure you want to delete the network <q>{{networkDetailsCtrl.network.networkName}}</q>?</p>
                    </div>
                    <div class="actions">
                        <div class="ui basic deny button modalBtn">Cancel</div>
                        <div class="ui primary approve button modalBtn" (click)="deleteNetwork()">
                            Delete
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui tabular menu">
                <a class="item" [ngClass]="{active: infoselected}" (click)="infoselected=true">
                    Details
                </a>
                <a class="item" [ngClass]="{active: !infoselected}" (click)="infoselected=false">
                    Stats
                </a>
            </div>

            <network-info [networkDetailsCtrl]="networkDetailsCtrl" *ngIf="infoselected"></network-info>

            <network-stat [statKey]="statskey" *ngIf="!infoselected"></network-stat>

        </div>
    </div>
</div>
