<div class="ui nine column grid">
    <div class="three wide column">
        <a href="#/networks">
            <i class="arrow left icon"></i>
            Network details
        </a>
    </div>

    <div class="six wide column">
        <div id="delete-network-modal" class="ui small modal">
            <div class="header">Remove Network: {{networkDetailsCtrl.network.networkName}}</div>
            <div class="content">
                <p>Are you sure you want to remove this network?</p>
            </div>
            <div class="actions">
                <div class="ui negative button">No</div>
                <div class="ui positive button" ng-click="networkDetailsCtrl.deleteNetwork()">
                    Yes
                </div>
            </div>
        </div>
        <button class="ui red button" onclick="$('#delete-network-modal').modal('show')">
            <i class="trash icon"></i>
            Remove
        </button>
    </div>
</div>


<h4 class="ui header">Network Details</h4>
<div>
    <table class="ui very basic selectable table">
        <tbody>
        <tr>
            <td class="three wide column">Network name</td>
            <td>{{networkDetailsCtrl.network.networkName}}</td>
        </tr>
        <tr>
            <td class="three wide column">Encapsulation</td>
            <td>{{networkDetailsCtrl.network.encap}}</td>
        </tr>
        <tr>
            <td class="three wide column">Subnet</td>
            <td>{{networkDetailsCtrl.network.subnet}}</td>
        </tr>
        <tr>
            <td class="three wide column">Gateway</td>
            <td>{{networkDetailsCtrl.network.gateway}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="ui section divider"></div>

<h4 class="ui header" style="margin-top: 40px">Groups</h4>
<div class="ui nine column grid">
    <div class="three wide column">
        <button class="ui green button">
            <i class="add icon"></i>
            Create group
        </button>
    </div>

    <div class="six wide column">
        <button class="ui red button">
            <i class="trash icon"></i>
            Remove
        </button>
    </div>
</div>
<div style="margin-top: 20px">
    <table class="ui very basic unstackable table">
        <thead>
        <tr>
            <th>
                <input type="checkbox">
            </th>
            <th> Group name</th>
            <th> Policies</th>
        </tr>
        </thead>
        <tbody>
        <tr md-row ng-repeat="group in networkDetailsCtrl.network.groups">
            <!--<td><a ui-sref="contiv.networks.details({networkName:network.NetworkName})">{{network.NetworkName}}</a></td>-->
            <td>
                <input type="checkbox">
            </td>
            <td class="three wide column"><a href="#">{{group.groupName}}</a></td>
            <td>{{group.policies.join(", ")}}</td>
        </tr>
        </tbody>
    </table>
</div>
