<div class="ui sixteen column grid">
    <div class="ui row pageHeader">
        <div class="left aligned eight wide column">
            <div class="content pageTitle">Create Network</div>
        </div>

        <div class="right aligned eight wide column">&nbsp;</div>
    </div>

    <div class="ui row breadcrumbRow">
        <div class="ui sixteen wide column">
            <div class="breadcrumbs">
                <span class="crumb">
                    <a href="/#/m/networks/list">
                        Networks
                    </a>
                </span>
                <span class="crumb">Create</span>
            </div>
        </div>
    </div>

    <div class="ui row">
        <div class="ui sixteen wide column">

            <form id="networkCreationForm" name="networkCreateForm" class="ui form" role="form"
                  (submit)="networkCreateCtrl.createNetwork(networkCreateForm.valid)" novalidate #networkCreateForm="ngForm">

                <div class="ui active inverted dimmer" *ngIf="networkCreateCtrl.showLoader">
                    <div class="ui loader"></div>
                </div>

                <div class="ui sixteen column grid" style="margin: 0;">
                    <div class="ui row">
                        <div class="ui six wide column field" [ngClass]="{error: newNetworkName.errors?.required && networkCreateForm.submitted}">
                            <label for="newNetworkName">Network name</label>
                            <input type="text" id="newNetworkName" name="newNetworkName"
                                   [(ngModel)]="networkCreateCtrl.newNetwork.networkName"
                                   placeholder="Enter name" required #newNetworkName="ngModel">
                            <span class="inlineError" *ngIf="newNetworkName.errors?.required && networkCreateForm.submitted">
                                Please enter network name
                            </span>
                        </div>
                    </div>
                    <div class="ui row" style="margin-top: 15px;">
                        <div class="ui six wide column field">
                            <div class="field" [ngClass]="{error: newNetworkTenant.errors?.required && networkCreateForm.submitted}">
                                <label for="newNetworkTenant">Tenant</label>
                                <select id="newNetworkTenant" class="ui dropdown"
                                        name="newNetworkTenant"
                                        [(ngModel)]="networkCreateCtrl.newNetwork.tenantName"
                                        required #newNetworkTenant="ngModel">
                                    <option value="">-- Please select tenant --</option>
                                    <option *ngFor="let tenant of networkCreateCtrl.tenants" [ngValue]="tenant.tenantName">{{tenant.tenantName}}</option>
                                </select>
                                <span class="inlineError" *ngIf="newNetworkTenant.errors?.required && networkCreateForm.submitted">
                                    Please select tenant
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="ui row" style="margin-top: 15px;">
                        <div class="ui six wide column field">
                            <label for="newNetworkEncapsulation">Encapsulation</label>
                            <select id="newNetworkEncapsulation" class="ui dropdown" [(ngModel)]="networkCreateCtrl.newNetwork.encap" name="newNetworkEncap">
                                <option value="vxlan">vxlan</option>
                                <option value="vlan">vlan</option>
                            </select>
                        </div>
                    </div>
                    <div class="ui row" style="margin-top: 15px;">
                        <div class="ui six wide column field" [ngClass]="{error: (newNetworkSubnet.errors?.required || newNetworkSubnet.errors?.pattern) && networkCreateForm.submitted}">
                            <label for="newNetworkSubnet">Subnet</label>
                            <input type="text" id="newNetworkSubnet" name="newNetworkSubnet"
                                   [(ngModel)]="networkCreateCtrl.newNetwork.subnet"
                                   placeholder="CIDR notation, for example: 20.1.1.0/24" required
                                   [pattern]="networkCreateCtrl.cidrPattern" #newNetworkSubnet="ngModel">
                            <span class="inlineError" *ngIf="newNetworkSubnet.errors?.required && networkCreateForm.submitted">
                                Please enter subnet
                            </span>
                            <span class="inlineError" *ngIf="newNetworkSubnet.errors?.pattern && networkCreateForm.submitted">
                                Please enter subnet in CIDR notation
                            </span>
                        </div>
                    </div>
                    <div class="ui row" style="margin-top: 15px;">
                        <div class="ui six wide column field">
                            <label for="newNetworkGateway">Gateway</label>
                            <input type="text" id="newNetworkGateway" [(ngModel)]="networkCreateCtrl.newNetwork.gateway"
                                   placeholder="Enter gateway" name="newNetworkGateway">
                        </div>
                    </div>

                    <div class="ui row">
                        <div class="right aligned six wide column">
                            <div class="buttonRow">
                                <button type="button" class="ui basic button" (click)="networkCreateCtrl.cancelCreating()">
                                    Cancel
                                </button>
                                <button type="submit" class="ui primary button">
                                    Create
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
