tbody tr{
    cursor: pointer;
}

tbody tr.notSelected:hover{
    background-color: aliceblue;
}

.selected:hover{
    background-color: #4D7198;
    color: white;
}

.selected{
    background-color: #4D7198;
    color: white;
}

.notSelected{
    background: none;
}

.tabular.menu a.item{
    color:#049fd9
}

.tabular.menu a.item.active{
    color:black;
}

.graphTable{
    width:80%;
}