<form class="ui form" role="form"
      (submit)="createUser(formRef.valid)" novalidate #formRef="ngForm">
    <div class="ui sixteen column grid">
        <div class="nine wide column">
            <div class="content">
                <a [routerLink]="['../list']">
                    <i class="large arrow left icon"></i>
                </a>
                <span style="font-size: 24px; margin-left: 6px">Users</span>
                <span class="headingfontcolor" style="font-size: 24px"> (Create User)</span>
            </div>
        </div>
    </div>

    <div class="ui active inverted dimmer" *ngIf="showLoader">
        <div class="ui loader"></div>
    </div>
    <div class="ui basic segment">
        <div class="field">
            <div *ngIf="formRef.submitted">
                <div [hidden]="formRef.valid" class="ui negative message">
                    <ul class="list">
                        <li *ngIf="newUserName.errors?.required">Please enter
                            user name
                        </li>
                        <li *ngIf="newUserOrganization.errors?.required">
                            Please select organization
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="newUserName">Username</label>
            <input type="text" id="newUserName" name="newUserName"
                   [(ngModel)]="newUser.userName"
                   placeholder="Enter name" required #newUserName="ngModel">
        </div>
        <div class="field">
            <label for="newFirstName">First name</label>
            <input type="text" id="newFirstName" name="newFirstName"
                   [(ngModel)]="newUser.firstName"
                   placeholder="Enter first name" #newFirstName="ngModel">
        </div>
        <div class="field">
            <label for="newLastName">Last name</label>
            <input type="text" id="newLastName" name="newLastName"
                   [(ngModel)]="newUser.lastName"
                   placeholder="Enter last name"  #newLastName="ngModel">
        </div>
        <div class="field">
            <label for="newUserOrganization">Organization</label>
            <select id="newUserOrganization"
                    class="ui dropdown"
                    #newUserOrganization="ngModel"
                    name="newUserOrganization"
                    [(ngModel)]="newUser['tenantName']"
                    required>
                <option value="">-- Please select organization --</option>
                <option *ngFor="let organization of organizations"
                        [value]="organization.tenantName">
                    {{organization.tenantName}}
                </option>
            </select>
        </div>
        <div class="field">
            <label for="newRole">Role</label>
            <select class="ui dropdown" id="newRole" name="role" [(ngModel)]="newUser.role">
                <option value="Admin">Admin</option>
                <option value="DevOps">DevOps</option>
            </select>
        </div>
        <div class="field">
            <label>
                <input type="checkbox" name="newUserEnabled" tabindex="0"
                       [(ngModel)]="newUser.enabled">
                Enabled
            </label>
        </div>
        <div class="ui grid">
            <div class="right aligned sixteen wide column">
                <div style="margin-top: 40px">
                    <button type="button" class="ui basic button" (click)="cancelCreating()">
                        Cancel
                    </button>
                    <button type="submit" class="ui blue button">Create</button>
                </div>
            </div>
        </div>

        <ctv-error *ngIf="showServerError" header="Error creating user" [error]="serverErrorMessage">
        </ctv-error>
    </div>
</form>