<div class="ui sixteen column grid">
    <div class="ui row pageHeader">
        <div class="left aligned eight wide column">
            <div class="content pageTitle">Create User</div>
        </div>
        <div class="right aligned eight wide column">&nbsp;</div>
    </div>

    <div class="ui row breadcrumbRow">
        <div class="ui sixteen wide column">
            <div class="breadcrumbs">
                <span class="crumb">
                    <a [routerLink]="['../list']">
                        User Management
                    </a>
                </span>
                <span class="crumb">Create</span>
            </div>
        </div>
    </div>

    <div class="ui row">
        <div class="ui sixteen wide column">

            <form class="ui form" role="form"
                  (submit)="createUser(formRef.valid)" novalidate #formRef="ngForm">

                <div class="ui active inverted dimmer" *ngIf="showLoader">
                    <div class="ui loader"></div>
                </div>

                <div class="ui basic segment">
                    <div class="description">Create user accounts here. You can assign users into tenancies, and define their role, under Settings > Authorizations. </div>

                    <div class="ui sixteen column grid">
                        <div class="ui row">
                            <div class="ui six wide column">
                                <div class="field" [ngClass]="{error: newUserName.errors?.required && formRef.submitted}">
                                    <label for="newUserName">Username</label>
                                    <input type="text" id="newUserName" name="newUserName"
                                           [(ngModel)]="newUser.username"
                                           placeholder="Enter name" required #newUserName="ngModel">
                                    <span class="inlineError" *ngIf="newUserName.errors?.required && formRef.submitted">
                                        Please enter user name
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="ui row">
                            <div class="ui six wide column">
                                <div class="field" [ngClass]="{error: newUserPassword.errors?.required && formRef.submitted}">
                                    <label for="newUserPassword">Password</label>
                                    <input type="password" id="newUserPassword" name="newUserPassword"
                                           [(ngModel)]="newUser.password"
                                           placeholder="Enter password" required #newUserPassword="ngModel">
                                    <span class="inlineError" *ngIf="newUserPassword.errors?.required && formRef.submitted">
                                        Please enter user password
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="ui row">

                            <div class="ui six wide column">
                                <div class="field">
                                    <label for="newFirstName">First name</label>
                                    <input type="text" id="newFirstName" name="newFirstName"
                                           [(ngModel)]="newUser.first_name"
                                           placeholder="Enter first name" #newFirstName="ngModel">
                                </div>
                            </div>
                        </div>
                        <div class="ui row">
                            <div class="ui six wide column">
                                <div class="field">
                                    <label for="newLastName">Last name</label>
                                    <input type="text" id="newLastName" name="newLastName"
                                           [(ngModel)]="newUser.last_name"
                                           placeholder="Enter last name"  #newLastName="ngModel">
                                </div>
                            </div>

                        </div>
                        <div class="ui row">

                            <div class="ui six wide column">
                                <div class="field">
                                    <label for="newUserDisabled">&nbsp;<br>
                                    <input type="checkbox" id="newUserDisabled" name="newUserDisabled" tabindex="0" class="alignLabel"
                                               [(ngModel)]="newUser.disable">
                                        Disabled
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="ui row">
                            <div class="right aligned six wide column buttonRow">

                                <button type="button" class="ui basic button" (click)="cancelCreating()">
                                    Cancel
                                </button>
                                <button type="submit" class="ui primary button">
                                    Create
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>

         </div>
    </div>
</div>
