<div class="ui sixteen column grid">
    <div class="three wide column">
        <div [ngSwitch]="mode" class="content">
            <a [routerLink]="['../../list']">
                <i class="large arrow left icon"></i>
            </a>
            <span style="font-size: 24px; margin-left: 6px">Users</span>
            <span *ngSwitchCase="'details'" class="headingfontcolor" style="font-size: 24px"> (Details)</span>
            <span *ngSwitchCase="'edit'" class="headingfontcolor" style="font-size: 24px"> (Edit)</span>
        </div>
    </div>

    <div [ngSwitch]="mode" class="right aligned thirteen wide column">
        <div id="delete-user-modal" class="ui small modal">
            <div class="header">Remove User: {{user.userName}}
            </div>
            <div class="content">
                <p>Are you sure you want to remove this user?</p>
            </div>
            <div class="actions">
                <div class="ui negative button">No</div>
                <div class="ui positive button" (click)="deleteUser()">
                    Yes
                </div>
            </div>
        </div>
        <button *ngSwitchCase="'edit'" class="ui disabled button"
                (click)="editUser()">
            <i class="edit icon"></i>
            Edit
        </button>
        <button *ngSwitchCase="'details'" class="ui basic button"
                (click)="editUser()">
            <i class="edit icon"></i>
            Edit
        </button>
        <button class="ui basic button" onclick="$('#delete-user-modal').modal('show')">
            <i class="trash icon"></i>
            Remove
        </button>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui active inverted dimmer" *ngIf="showLoader">
        <div class="ui loader"></div>
    </div>
    <div><h4 class="ui header">Basic Settings</h4></div>  <!-- Top Margin is less,When h4 is first child in div -->
    <table class="ui very basic selectable table">
        <tbody>
        <div [ngSwitch]="mode">
            <div *ngSwitchCase="'details'">
                <tr>
                    <td class="three wide column">Username</td>
                    <td>{{user.userName}}</td>
                </tr>
                <tr>
                    <td class="three wide column">First Name</td>
                    <td>{{user.firstName}}</td>
                </tr>
                <tr>
                    <td class="three wide column">Last Name</td>
                    <td>{{user.lastName}}</td>
                </tr>
                <tr>
                    <td class="three wide column">Organization</td>
                    <td>{{user.tenantName}}</td>
                </tr>
                <tr>
                    <td class="three wide column">Role</td>
                    <td>{{user.role}}</td>
                </tr>
                <tr>
                    <td class="three wide column">Enabled</td>
                    <td>{{user.enabled?'Yes':'No'}}</td>
                </tr>
            </div>
        </div>
        </tbody>
    </table>

    <div [ngSwitch]="mode">
        <form class="ui form"
              role="form"
              *ngSwitchCase="'edit'"
              (submit)="saveUser(formRef.valid)" novalidate #formRef="ngForm">
            <div class="field">
                <div *ngIf="formRef.submitted">
                    <div [hidden]="formRef.valid" class="ui negative message">
                        <ul class="list">
                            <li *ngIf="userName.errors?.required">Please enter
                                user name
                            </li>
                            <li *ngIf="userOrganization.errors?.required">
                                Please select organization
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="userName">Username</label>
                <input type="text" id="userName" name="userName"
                       [(ngModel)]="user.userName"
                       placeholder="Enter name" required #userName="ngModel">
            </div>
            <div class="field">
                <label for="newFirstName">First name</label>
                <input type="text" id="newFirstName" name="newFirstName"
                       [(ngModel)]="user.firstName"
                       placeholder="Enter first name" #newFirstName="ngModel">
            </div>
            <div class="field">
                <label for="newLastName">Last name</label>
                <input type="text" id="newLastName" name="newLastName"
                       [(ngModel)]="user.lastName"
                       placeholder="Enter last name" #newLastName="ngModel">
            </div>
            <div class="field">
                <label for="userOrganization">Organization</label>
                <select id="userOrganization"
                        class="ui dropdown"
                        #userOrganization="ngModel"
                        name="userOrganization"
                        [(ngModel)]="user['tenantName']"
                        required>
                    <option value="">-- Please select organization --</option>
                    <option *ngFor="let organization of organizations"
                            [value]="organization.tenantName">
                        {{organization.tenantName}}
                    </option>
                </select>
            </div>
            <div class="field">
                <label for="newRole">Role</label>
                <select class="ui dropdown" id="newRole" name="role" [(ngModel)]="user.role">
                    <option value="Admin">Admin</option>
                    <option value="DevOps">DevOps</option>
                </select>
            </div>
            <div class="field">
                <label>
                    <input type="checkbox" name="userEnabled" tabindex="0"
                           [(ngModel)]="user.enabled">
                    Enabled
                </label>
            </div>
            <div class="ui grid" style="margin-top: 40px">
                <div class="right aligned sixteen wide column">
                    <button *ngSwitchCase="'edit'" type="button" class="ui basic button"
                            (click)="cancelEditing()">Cancel
                    </button>
                    <button *ngSwitchCase="'edit'" type="submit" class="ui blue button">
                        Save
                    </button>
                </div>
            </div>
            <ctv-error *ngIf="showServerError"
                       header="Error saving user"
                       [error]="serverErrorMessage">
            </ctv-error>
        </form>
        <ctv-error *ngIf="((showServerError) && (mode === 'details'))"
                   header="Error deleting user"
                   [error]="serverErrorMessage">
        </ctv-error>
    </div>

</div>

