app/*.js
app/*.ts
app/*/*.js
app/*/*.ts
app/bower_components/**
app/*/*/*.js
app/*/*/*.ts
app/*/*/*/*.js
app/*/*/*/*.ts
!app/bower_components/semantic-ui/dist/**
!app/bower_components/jquery/dist/**
!app/main.bundle.js
!app/vendor.bundle.js
!app/polyfills.bundle.js
